{{#if hasLabel}}
    <label style="margin-bottom: 0">{{label}}</label>
{{/if}}
<div class="imageDropArea {{if editing 'editing'}} {{if showoutline 'hovering'}}" style={{safeStyle}}>
    {{#if hasImage}}<img src="{{getImageContent}}" style={{safeMaxStyle}}>{{/if}}
</div>