{{#if hasLabel}}
    <label for={{name}} class="control-label">{{label}}</label>
{{/if}}

{{textarea value=componentValue class="form-control" name=name title=title placeholder=placeholder rows=rows}}

{{#if hasError}}
    {{#each errors as |error|}}
        <div class="control-label">{{error.message}}</div>
    {{/each}}
    <span class="fa fa-times form-control-feedback" aria-hidden="true"></span>
{{/if}}