{{#if hasNumberFound}}
    <small class="pull-left">({{totalRecords}} items found)</small><br>
{{/if}}
<ul class="pagination" style="float:left;margin-top:0;margin-bottom: 0; padding-right: 10px;">
    <li><a href="" class="firstPage" {{action 'firstPage'}}>&laquo;</a></li>
    <li><a href="" class="prevPage" {{action 'prevPage'}}>&lsaquo;</a></li>
    {{#each pageSet as |page|}}
        <li class="{{if page.active 'active'}}">
            <a href="" class="gotoPage" {{action 'gotoPage' page.num}}>{{page.num}}</a>
        </li>
    {{else}}
        <li><a href="" class="currentPage"></a></li>
    {{/each}}
    <li><a href="" class="nextPage" {{action 'nextPage'}}>&rsaquo;</a></li>
    <li><a href="" class="lastPage" {{action 'lastPage'}}>&raquo;</a></li>
</ul>
<label for="perPage" class="sr-only">Items Per Page</label>
{{#x-select value=perPage class="perPage form-control" action="perPageChanged" name="perPage"}}
    {{#each perPageOptions as |perPage|}}
        {{#x-option value=perPage}}{{perPage}}{{/x-option}}
    {{/each}}
{{/x-select}}
{{yield}}