<label for="generalsearch" class="sr-only">General search</label>
<span class="form-inline">
    <span class="input-group">
        {{input type="search"
        class="form-control input-sm"
        name="search"
        value=searchQuery
        placeholder=searchPlaceholder
        enter='search'}}
        <span class="input-group-btn">
            <button class="btn btn-success btn-sm" id="search" {{action 'search'}}>
                <i class="fa fa-search fa-inverse fa-lg"></i>
            </button>
        </span>
    </span>
</span>