<span class="fa-stack sort" {{action 'toggleSort'}}>
    {{#if isNatural}}
        <i class="fa fa-sort-desc fa-stack-1x"></i>
        <i class="fa fa-sort-asc fa-stack-1x"></i>
    {{/if}}
    {{#if isDesc}}
        <i class="fa fa-sort-desc fa-stack-1x"></i>
    {{/if}}
    {{#if isAsc}}
        <i class="fa fa-sort-asc fa-stack-1x"></i>
    {{/if}}
</span>
