{{#unless nocolumn}}
<td class="{{unless nostyle 'main-column' 'collapse-column'}}">
  {{#if editing}}
      <a class="fa fa-check" {{action "save" model}}></a>
  {{/if}}

  <a class="fa {{if editing 'fa-ban' 'fa-pencil'}}" {{action "toggleEdit"}}></a>

  {{#if showDelete}}
      <a id="delete" {{action "deleteModel" model}}><i class="fa fa-times"></i></a>
  {{/if}}
</td>
{{/unless}}

{{yield editing notediting}}
