<button type="button" class="btn btn-xs btn-danger {{if dragging 'drag'}}" {{action "deleteImage"}}>
    <i class="fa fa-times" style="color: white;"></i>
</button>
<img src="{{image.url}}">
<span class="aligner"></span>
