<i class="fa fa-search" {{action "toggleFilter"}}></i>
{{#bootstrap-popover title=title filterOpen=filterOpen}}
    <form class="form form-filter">
        <div class="col-xs-12 form-group">
            {{fut-choice content=options value=filtervalue optionValuePath=optionValuePath optionLabelPath=optionLabelPath class="col-xs-12"}}
        </div>
        <div class="col-xs-12 form-group">
            <button class="btn btn-success btn-sm" {{action "filter"}}>
                <i class="fa fa-filter"></i> Filter
            </button>
            {{#if hasValue}}
                <button class="btn btn-sm btn-warning" {{action "clear"}}>
                    <i class="fa fa-trash"></i> Clear
                </button>
            {{/if}}
            <button class="btn btn-sm btn-danger" {{action "close"}}>
                <i class="fa fa-ban"></i> Close
            </button>
        </div>
    </form>
{{/bootstrap-popover}}
