<i class="fa fa-search" {{action "toggleFilter"}}></i>
{{#bootstrap-popover title=title filterOpen=filterOpen}}
    <form class="form form-filter">
        <div class="col-xs-12 form-group">
            {{#x-select value=filtervalue class="form-control col-xs-12"}}
                {{#x-option value=undefined}}All{{/x-option}}
                {{#x-option value=true}}Yes{{/x-option}}
                {{#x-option value=false}}No{{/x-option}}
            {{/x-select}}
        </div>
        <div class="col-xs-12 form-group">
            <button class="btn btn-success btn-sm" {{action "filter"}}>
                <i class="fa fa-filter"></i> Filter
            </button>
            {{#if hasValue}}
                <button class="btn btn-sm btn-warning" {{action "clear"}}>
                    <i class="fa fa-trash"></i> Clear
                </button>
            {{/if}}
            <button class="btn btn-sm btn-danger" {{action "close"}}>
                <i class="fa fa-ban"></i> Close
            </button>
        </div>
    </form>
{{/bootstrap-popover}}
