<i class="fa fa-search" {{action "toggleFilter"}}></i>
{{#bootstrap-popover title=title filterOpen=filterOpen}}
    <form class="form form-filter">
        <div class="col-xs-12 form-group">
            {{input value=filtervalue class="col-md-12 form-control" placeholder="search..." enter="filter"}}
            {{#if isStringType}}
                <small style="white-space: nowrap">(hint: Use <b>*</b> as wildcard, example: <code>Fiets*</code>)</small>
            {{/if}}
        </div>
        <div class="col-xs-12 form-group">
            <button class="btn btn-success btn-sm" {{action "filter"}}><i class="fa fa-filter"></i> Filter</button>
            {{#if hasValue}}
                <button class="btn btn-sm btn-warning" {{action "clear"}}><i class="fa fa-trash"></i> Clear</button>
            {{/if}}
            <button class="btn btn-sm btn-danger" {{action "close"}}><i class="fa fa-ban"></i> Close</button>
        </div>
    </form>
{{/bootstrap-popover}}
