{{#if hasLabel}}
    <label for={{name}} class="control-label">{{label}}</label>
{{/if}}

{{#if componentDisabled}}
    {{#if hasBlock}}
        {{yield componentValue}}
    {{else}}
        {{#if limit}}
            {{str-truncate componentValue limit omission}}
        {{else}}
            {{componentValue}}
        {{/if}}
    {{/if}}
{{else}}
    {{input
        type=type
        value=componentValue
        class=componentClasses
        name=name
        title=title
        placeholder=placeholder
        min=min
        max=max
        step=step
        pattern=pattern
        enter="onEnter"
    }}
{{/if}}

{{#if hasError}}
    <span class="fa fa-times form-control-feedback" aria-hidden="true"></span>
    {{#each errors as |error|}}
        <div class="control-label">{{{error.message}}}</div>
    {{/each}}
{{else}}
    {{#if hasFeedback}}
        <span class="fa {{feedback}} form-control-feedback" aria-hidden="true"></span>
    {{/if}}

{{/if}}