<div id="treeView" class="col-md-2">
    <ul class="list-unstyled">
        <li class="treeitem">
            <a href="#0" class="collapser" {{action 'filter'}}>
                <i class="fa fa-plus-square-o" id="collapseIcon"></i>&nbsp;Topmenu
            </a>
            <ul class="children collapse list-unstyled in">
                {{#each menus as |fomenu|}}
                    <li class="treeitem">
                        <a href="#" class="collapser">
                            {{#if fomenu.hasChildren}}
                                <i class="fa fa-plus-square-o" {{action 'filter' fomenu.frontoffice_menu_id}}></i>
                            {{else}}
                                <i class="fa fa-square-o"></i>
                            {{/if}}
                            <span {{action 'filter' fomenu.frontoffice_menu_id fomenu}}>{{fomenu.name}}</span>
                        </a>
                        <ul class="children collapse list-unstyled {{fomenu.openClass}}"
                            id="{{fomenu.frontoffice_menu_id}}">
                            {{#each fomenu.children as |child|}}
                                <li class="treeitem">
                                    <a href="#" {{action 'itemClicked' child.frontoffice_menu_id child}}>{{child.name}}</a>
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>