<div class="hidden-xs hidden-sm" style="padding-right:20px">
    {{log 'session' session}}
    {{#if session.isAuthenticated}}
        <a id="settings" href="/settings" style="color: white">{{session.user.login}} <i
                class="fa fa-user fa-inverse"></i></a>
        <span style="padding: 0 5px;">|</span>
        {{fut-search search="search"}}
        <a href="" {{ action 'logout' }}><i class="fa fa-sign-out" title="Log out"></i></a>
    {{/if}}
</div>