<header><h3>Procurement advice {{supplier}}</h3></header>
<button class="btn btn-success" {{action 'createOrder' supplier_id}} disabled={{noSelecteds}}><i class="fa fa-mail-reply fa-flip-horizontal"></i> Make draft</button>
<button class="btn btn-primary" {{action 'gotoPrev' supplier_id}}><i class="fa fa-arrow-left"></i> Previous</button>
<button class="btn btn-primary" {{action 'gotoList'}}><i class="fa fa-arrow-up"></i> List</button>
<button class="btn btn-primary" {{action 'gotoNext' supplier_id}}>Next <i class="fa fa-arrow-right"></i></button>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th><input type="checkbox" title="Select All" {{action "selectAll"}}> <span>ProdLevId</span></th>
            <th><span>Supplier code</span></th>
            <th><span>Product</span></th>
            <th class="filtered">{{fut-listsort setSort='sort' field='advice'}} <span>Advice</span></th>
            <th class="filtered">{{fut-listsort setSort='sort' field='freestock'}} <span>Free stock</span></th>
            <th><span>PR</span></th>
            <th><span>Supplier</span></th>
            <th class="filtered">{{fut-listsort setSort='sort' field='pprice'}} <span>Price</span></th>
        </tr>
        <tr>
            <td>Total:<br><small>Selected:</small></td>
            <td></td>
            <td></td>
            <td>
                {{totalAdvice}}<br>
                <small>{{selectedAdvice}}</small>
            </td>
            <td></td>
            <td></td>
            <td colspan="2" class="text-right">
                &euro;&nbsp;{{fut-money totalValue}}<br><small>&euro;&nbsp;{{fut-money selectedValue}}</small>
            </td>
        </tr>
    </thead>
    <tbody>
    {{#each model as |line|}}
        <tr>
            <td style="white-space: nowrap">
                {{input type='checkbox' checked=line.selected}}
                {{line.prodlevid}}
            </td>
            <td>{{line.prodid}}</td>
            <td>{{line.vendor}} {{line.name}}
                <small>{{line.specification}}</small>
            </td>
            <td title="Freestock: {{line.freestock}}, Min: {{line.min}}, Max: {{line.max}}">{{line.advice}}</td>
            <td>{{line.freestock}}</td>
            <td>{{fut-check checked=line.pr}}</td>
            <td>{{line.supplier.name}}</td>
            <td class="text-right">&euro; {{fut-money line.pprice}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>