<div class="clearfix"></div>
<div class="pull-left">
    <button class="btn btn-success" id="createorder" {{action "createDrafts"}} disabled={{noSelecteds}}>
        <i class="fa fa-mail-reply-all fa-flip-horizontal"></i> Make drafts
    </button>
    <button class="btn btn-danger" {{action "deleteAdvices"}} disabled={{noSelecteds}}><i class="fa fa-ban"></i> Delete advices</button>
    <button class="btn btn-warning" {{action "regenerateAdvice"}}>
        <i class="fa fa-recycle {{if isGenerating 'fa-spin'}}"></i> Regenerate advice
    </button>
</div>
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th><input type="checkbox" {{action "selectAll"}} title="Select All"> Supplier</th>
            <th>Number of products</th>
            <th>Total price</th>
        </tr>
        <tr>
            <th>
                <small class="weak">
                    {{NumberOfSuppliers}} suppliers&nbsp;
                    {{#if hasSelecteds}}
                        ({{selectedCount}} selected)
                    {{/if}}
                </small>
            </th>
            <th>
                <small class="weak">{{TotalProductCount}}</small>
            </th>
            <th>
                <small class="weak">&euro; {{fut-money totalAdviceValue}}</small>
            </th>
        </tr>
    </thead>
    <tbody>
    {{#each model as |advice|}}
        <tr>
            <td>
                {{input type='checkbox' checked=advice.selected}}
                {{#link-to 'procurement.advice.edit' advice.supplier.id class="vendoradvice"}}{{advice.supplier.name}}{{/link-to}}
            </td>
            <td>{{advice.productcount}}</td>
            <td>&euro; {{fut-money advice.pprice}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>