{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Group Name {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='group_name' title='Group Name'}}</th>
            <th>Prodlevid {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='prodlevid' title='Prodlevid'}}</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
        {{#each model.groupprices as |groupprice|}}
            <tr>
                <td>{{groupprice.id}}</td>
                <td>{{groupprice.group_name}}</td>
                <td>{{groupprice.prodlevid}}</td>
                <td>{{groupprice.start_date}}</td>
                <td>{{groupprice.end_date}}</td>
                <td>{{groupprice.euprice}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-shopping-cart"></i> Cartproducts <small>(kassakoopjes)</small>
        <div class="pull-right">
            {{input value=newcartproduct }}
            <button class="btn btn-xs btn-success" {{action 'addCartProduct' newcartproduct}}><i class="fa fa-plus-circle"></i> Add</button>
        </div>
    </div>
    <ul class="list-group">
        {{#each model.cartspecialproducts as |cartproduct|}}
            <li class="list-group-item">
                <button class="btn btn-xs btn-danger" {{action 'deleteCartProduct' cartproduct}}><i class="fa fa-minus-circle"></i> Remove</button> {{cartproduct.prodlevid}}
            </li>
        {{/each}}
    </ul>
</div>