{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="white-space: nowrap">
            <button class="btn btn-xs btn-success" {{action "addBanner"}}>
                <i class="fa fa-plus-circle"></i>&nbsp;Add
            </button>
        </th>
        <th>
            Campaign {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='campaign' title='Campaign'}}</th>
        <th>Url</th>
        <th>Image</th>
        <th>Description</th>
        <th>Style</th>
        <th>Content</th>
        <th>
            Enabled {{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='enabled' title='Enabled'}}</th>
        <th>Type</th>
        <th>
            ShowOn {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='showOn.0.id' title='Show On' dataType='number'}}</th>
        <th>Position</th>
    </tr>
    </thead>
    <tbody style="white-space: nowrap;">
        {{#each model as |banner|}}
            {{#fut-editablerow model=banner save="save" delete="deleteBanner" as |editing notediting|}}
                <td>{{fut-input value=banner.campaign editing=editing limit=30}}</td>
                <td>{{fut-input value=banner.url editing=editing limit=25}}</td>
                <td>
                    {{banner-upload banner=banner.image.location uploadImage=banner.uploadImage editing=editing width="75px" style=banner.style}}
                </td>
                <td>{{fut-input value=banner.alt editing=editing limit=20}}</td>
                <td>{{fut-input value=banner.style editing=editing limit=20}}</td>
                <td>{{fut-input value=banner.content editing=editing limit=20}}</td>
                <td>{{fut-check checked=banner.enabled enabled=editing}}</td>
                <td>
                    {{fut-choice content=bannerTypes value=banner.showOn.0.type disabled=notediting}}
                </td>
                <td>
                    {{fut-input type="number" value=banner.showOn.0.id editing=editing}}<br>
                    <small class="weak">({{strip-tags banner.category}})</small>
                </td>
                <td>{{fut-input type="number" value=banner.showOn.0.position editing=editing}}</td>
            {{/fut-editablerow}}
        {{/each}}
    </tbody>
</table>