{{fut-fomenutree menus=model getChildren="getChildren" itemClicked="editMenu"}}
{{fut-pagination data=pagination pageChanged="pageChanged"}}
<div class="col-md-10">
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th>
                <button class="btn btn-xs btn-success" id="AddButton">
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>Name</th>
            <th>Vendors</th>
            <th>Queue</th>
            <th>Visible</th>
        </tr>
        </thead>
        <tbody id="tablecontent">
        {{#each model as |fomenu|}}
            <tr>
                <td>
                    {{#link-to 'shop.fomenu.edit' fomenu.frontoffice_menu_id title="Edit details"}}{{fomenu.frontoffice_menu_id}}{{/link-to}}
                </td>
                <td>
                    <label for="name" class="sr-only">Name</label>
                    <span title="Name">{{fomenu.name}}</span>
                    {{#if fomenu.displayname}}
                        <small class="weak" title="Display name: {{fomenu.displayname}}">
                            ({{strip-tags fomenu.displayname}})
                        </small>
                    {{/if}}
                </td>
                <td style="overflow: hidden">
                    <a type="text" id="vendors" class="editable">{{#each fomenu.vendors as |vendor|}}{{vendor.name}} {{/each}}</a>
                </td>
                <td style="white-space: nowrap">
                    <label for="que_number" class="sr-only">Que number</label>
                    {{input type="number" value=fomenu.que_number class="editable input-sm" disabled=true}}
                    {{#if item.editing}}
                        <i class="fa fa-arrow-up"></i>
                        <i class="fa fa-arrow-down"></i>
                    {{/if}}
                </td>
                <td>
                    {{fut-check checked=fomenu.visible enabled=false}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>