{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>
            <button id="AddButton" class="btn btn-xs btn-success" {{action "addHoliday"}}>
                <i class="fa fa-plus-circle"></i>&nbsp; Add
            </button>
        </th>
        <th>Start date</th>
        <th>End date</th>
        <th>Instock text</th>
        <th>Bike instock text</th>
        <th>Title Tag</th>
        <th>Toppanel</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
        {{#each model as |holiday|}}
            {{#fut-editablerow model=holiday save="save" delete="deleteHoliday" as |editing|}}
                <td>{{fut-input value=holiday.start editing=editing}}</td>
                <td>{{fut-input value=holiday.end editing=editing}}</td>
                <td>{{fut-input value=holiday.texts.instock editing=editing}}</td>
                <td>{{fut-input value=holiday.texts.bikeinstock editing=editing}}</td>
                <td>{{fut-input value=holiday.texts.title editing=editing}}</td>
                <td>{{fut-input value=holiday.texts.toppanel editing=editing}}</td>
            {{/fut-editablerow}}
        {{/each}}
    </tbody>
</table>