{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <button class="btn btn-xs btn-success" {{action "addKeywordSale"}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>Keyword</th>
            <th>Image (150x150)</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |keyword|}}
            {{#fut-editablerow model=keyword save="save" delete="deleteKeyword" as |editing|}}
                <td>
                    {{fut-input model=keyword field="keyword" editing=editing}}
                </td>
                <td>
                    {{banner-upload banner=keyword.image uploadImage=keyword.uploadImage path="img/cmsdata/sale" editing=editing}}
                </td>
            {{/fut-editablerow}}
        {{/each}}
    </tbody>
</table>