{{fut-pagination data=pagination pageChanged="pageChanged"}}
<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap" colspan="2">
                <button class="btn btn-xs btn-success" {{action "add"}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>Name {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='name' title='Name'}}</th>
            <th>Products</th>
            <th>Vendors</th>
            <th>Header/Footer</th>
            <th>Published {{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='publish' title='Published'}}</th>
            <th>Type {{fut-listfilter-select options=types setFilter='filter' clearFilter='removeFilter' field='type' title='Type'}}</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |landing|}}
            {{#fut-editablerow model=landing save="save" delete="del" nostyle=true as |editing notediting|}}
                <td>
                    {{fut-previewlink href=landing.previewLink}}
                    {{!--<i class="fa fa-exchange" id="#copy" title="Copy to DE"></i>--}}
                    {{#link-to 'shop.landing.edit' landing._id title="Open Code Editor"}}{{fa-icon 'code' title='Open Editor'}}{{/link-to}}
                </td>
                <td>{{fut-input value=landing.name editing=editing}}</td>
                <td>{{fut-input value=landing.products editing=editing limit=20}}</td>
                <td>{{fut-input value=landing.vendors editing=editing limit=20}}</td>
                <td>{{fut-check checked=landing.header editing=editing}}</td>
                <td>{{fut-check checked=landing.publish editing=editing}}</td>
                <td>{{fut-choice value=landing.type content=types disabled=notediting}}</td>
            {{/fut-editablerow}}
        {{/each}}
    </tbody>
</table>