<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseShippingMethods" aria-expanded="true" aria-controls="collapseShippingMethods">
                    Shipping Methods
                </a>
            </h4>
        </div>
        <div id="collapseShippingMethods" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <table class="table table-striped panel-body">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-xs btn-success" {{action 'addShippingmethod'}}>
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </button>
                        </th>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Queue</th>
                        <th>Enabled</th>
                        <th>Pickup</th>
                        <th>Costs</th>
                    </tr>
                </thead>
                <tbody>
                {{#each model.shippingmethods as |shippingmethod|}}
                    {{#fut-editablerow model=shippingmethod save="saveShippingMethod" delete="deleteShippingmethod" nostyle=true as |editing|}}
                        <td>{{fut-input model=shippingmethod field="type" editing=editing}}</td>
                        <td>{{fut-input model=shippingmethod field="name" editing=editing}}</td>
                        <td>{{fut-input model=shippingmethod field="description" editing=editing}}</td>
                        <td>{{fut-input model=shippingmethod field="queue" editing=editing}}</td>
                        <td>{{fut-check model=shippingmethod checked=shippingmethod.enabled enabled=editing}}</td>
                        <td>{{fut-check model=shippingmethod checked=shippingmethod.pickup enabled=editing}}</td>
                        <td>{{fut-input model=shippingmethod field="costs" editing=editing}}</td>
                    {{/fut-editablerow}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDDI" aria-expanded="false" aria-controls="collapseDDI">
                    Delayed Delivery Intervals
                </a>
            </h4>
        </div>
        <div id="collapseDDI" class="panel-collapse collapse" role="tabpanel">
            <table class="table table-striped panel-body">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-xs btn-success" {{action 'addDelayedDeliveryInterval'}}>
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </button>
                        </th>
                        <th>Time start</th>
                        <th>Time end</th>
                        <th>Shipment code</th>
                        <th>Enabled</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.delayeddeliveryintervals as |delayeddeliveryinterval|}}
                        {{#fut-editablerow model=delayeddeliveryinterval save="saveDelayedDeliveryInterval" delete="deleteDelayedDeliveryInterval" nostyle=true as |editing|}}
                            <td>{{fut-input type="time" model=delayeddeliveryinterval field="time_start" editing=editing}}</td>
                            <td>{{fut-input type="time" model=delayeddeliveryinterval field="time_end" editing=editing}}</td>
                            <td>{{fut-input model=delayeddeliveryinterval field="shipment_code" editing=editing}}</td>
                            <td>{{fut-check model=delayeddeliveryinterval checked=delayeddeliveryinterval.enabled enabled=editing}}</td>
                        {{/fut-editablerow}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseED" aria-expanded="false" aria-controls="collapseED">
                    Exclude Dates
                </a>
            </h4>
        </div>
        <div id="collapseED" class="panel-collapse collapse" role="tabpanel">
            <table class="table table-striped panel-body">
                <thead>
                    <tr>
                        <th>
                            <button class="btn btn-xs btn-success" {{action 'addExcludeDate'}}>
                                <i class="fa fa-plus-circle"></i>&nbsp;Add
                            </button>
                        </th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.excludedates as |excludedate|}}
                        {{#fut-editablerow model=excludedate save="saveExcludeDate" delete="deleteExcludeDate" nostyle=true as |editing|}}
                            <td>{{fut-input type="date" model=excludedate field="date" editing=editing}}</td>
                        {{/fut-editablerow}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>