{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="white-space: nowrap">
            <button class="btn btn-xs btn-success" id="AddButton" {{action "addSynonym"}}>
                <i class="fa fa-plus-circle"></i>&nbsp;Add
            </button>
        </th>
        <th>Synonym</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |synonym|}}
        {{#fut-editablerow model=synonym save="save" delete="remove" as |editing|}}
            <td>{{fut-input model=synonym field="synonym" editing=editing}}</td>
            <td>{{synonym.updated}}</td>
        {{/fut-editablerow}}
    {{/each}}
    </tbody>
</table>