body *:focus {
    outline: none;
}
select.perPage {
    width: 80px;
}
.emberroute {
    color:red;
}
.navbar {
    min-height: 20px;
    height: 35px;
    margin-bottom: 0;
}

.navbar-header {
    max-height: 30px;
}

.navbar-inverse {
    background-color: #4d68a1;
    border-color: #4d68a1;
    color: white;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #415887;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse .navbar-nav > li > a i {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-user {
    padding-top: 5px;
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-collapse {
    border-color: #4d68a1;
    background-color: #4d68a1;
}

#main-wrapper {
    padding-top: 60px;
    padding-bottom: 40px;
}

#navigationcontainer {
    z-index: 100;
}

td .glyphicon {
    color: black;
}

.show-edit {
    display: none;
}

.btn-primary {
    background-color: #4d68a1;
    border-color: #415887;
}

.panel-primary .panel-heading {
    background-color: #4d68a1;
    border-color: #415887;
}

.panel-heading i.fullwidth {
    width: 100%;
}

.panel-heading i.fullwidth:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: white;
}

.panel-heading i.collapsed:after {
    content: "\e080";
    color: white;
}

footer .version {
    color: #777777;
}

#main-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
}

header.editview:first-child h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand .dbName {
    font-size: 10px;
    color: red;
}

#sidebar {
    background-color: #f5f5f5;
    position: fixed;
    padding-top: 0;
    padding-right: 0;
    width: 25%;
    left: -25%;
    height: 100%;
    margin-left: -15px;
    z-index: 8888;

    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}

#sidebarCollapser {
    position: absolute;
    right: -39px;
    top: 68px;
    padding: 20px 10px 20px 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right-color: #d0d0d0;
    background-color: white;
}

.weak {
    font-weight: lighter;
}

/* Landingeditor additional styling */
.CodeMirror {
    height: 70vh;
}

.CodeMirror .cm-mustache {
    color: #f92ad8;
}

.eans .seperator:last-child {
    display: none;
}

table .tr td {
 padding: 8px;
 line-height: 1.42857143;
 vertical-align: top;
 border-top: 1px solid #ddd;
}

.hide {
    display: none;
}