#generalsearch {
    width: 50px;
}
#generalsearch:focus {
    width: 150px;
}

.datepicker {z-index: 1151 !important;}

/* CMS style */
#toolbar-cms,
#breadcrumbs {
    display: table;
}

.toggleBlock {
    text-transform: uppercase;
}

#cms-container table {
    border-collapse: collapse;
}

#cms-container th,
#cms-container td {
    box-sizing: border-box;
    font-size: 13px;
    height: 35px;
    padding: 0 4px;
    min-width: 40px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

#cms-container td {
    max-width: 170px;
}

#cms-container th div {
    resize: horizontal;
    overflow: auto;
    width: 100%;
    min-width: 40px;
    box-sizing: border-box;
    padding-right: 10px;
}

#cms-container td.selectedCell {
    border: 1px solid rgb(230, 230, 230);
    background-color: #ffffff;
    box-shadow: 0 0 2px 2px #5989cc;
}

th.main-column-header,
td.main-column {
    width: 230px;
    min-width: 230px;
    text-align: left;
}

#cms-container td.main-column label,
#cms-container th.main-column-header label.filter {
    padding-left: 5px;
    display: inline-block;
    font: inherit;
}

#cms-container tbody .editable {
    min-width:98%;
    height: 100%;
    box-sizing: border-box;
    background-color: inherit;
}

#cms-container tr.modifiedProduct,
.modifiedProduct select,
.modifiedProduct input {
    font-style: italic;
    color: #b40000 !important;
}

#cms-container tr.editProductBorder {
    border: outset RGBA(255, 255, 0, 0.2);
}

#cms-container tr.editProductBorder .undo_changes_all {
    display: inline-block !important;
}

#cms-container tr.editProductBorder .bg_delete,
#cms-container tr.editProductBorder .productSelector {
    display: none;
}

#cms-container tr.selected,
#cms-container tr.selected td:first-child {
    border: 1px solid black;
}

#cms-container tr.selected td {
    border-top: inherit;
    border-bottom: inherit;
}
#cms-container tr img {
    max-height: 20px;
}
#cms-container tr td > * {
    padding: 0;
}

.modal textarea {
    width: 95%;
    height: 350px;
    margin: 0 5px;
}

.wysi {
    height: 300px;
}

.modal.image {
    width: 990px;
    margin-left: -495px;
}

.modal.image .modal-body {
    padding: 10px;
}

.modal.image label {
    display: none;
}

.removeSort {
    color: #c0c0c0;
}


span.sort {
    cursor: pointer;
}

#remove {
    cursor: pointer;
}

#edit {
    cursor: pointer;
}

.fa-search {
    cursor: pointer;
}

/* CMS Label popup style */
.cmsLabel {
    position: relative;
    padding: 0;
    top: 6px;
    display: inline-block;
    box-sizing: border-box;
    width: 10px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.cmsLabel.active {
    border: 2px solid black;
}

.newButtonContainer {
    margin-top: 10px;
}

.newButtonContainer input[type=color] {
    padding: 0;
    border: 0;
    width: 15px;
    height: 20px;
}

/* Css for breadcrumbs */
#breadcrumbs a.gte::before {
    content: '>';
}

#breadcrumbs a.lte::before {
    content: '<';
}

#breadcrumbs a.not,
#breadcrumbs a.nin {
    text-decoration: line-through;
}

.error-cell-red {
    background-color: red !important;
}

#notificationcontainer {
    position: fixed;
    left: 33%;
    top: 20px;
    z-index: 9999;
}

#notificationcontainer .alert button {
    margin-left: 20px;
}

.pointer {
    cursor: pointer;
}

.glyphicon-pencil {
    cursor: pointer;
}

.remove {
    cursor: pointer;
}

.label-marge-negative,
.badge-marge-negative {
    background-color: #ff0000;
}

.label-marge-negative[href],
.badge-marge-negative[href] {
    background-color: #ff0000;
}

.label-marge-warning,
.badge-marge-warning {
    background-color: #ff7000;
}

.label-marge-warning[href],
.badge-marge-warning[href] {
    background-color: #ff7000;
}

.label-marge-neutral,
.badge-marge-neutral {
    background-color: #f8d700;
}

.label-marge-neutral[href],
.badge-marge-neutral[href] {pointer
    background-color: #f8d700;
}

.label-marge-positive,
.badge-marge-positive {
    background-color: #356635;
}

.label-marge-positive[href],
.badge-marge-positive[href] {
    background-color: #356635;
}

.label-marge-verypositive,
.badge-marge-verypositive {
    background-color: #61ba54;
}

.label-marge-verypositive[href],
.badge-marge-verypositive[href] {
    background-color: #61ba54;
}

.noRound {
    border-radius: 0 !important;
}

.dataBlock {
    border: 1px solid RGB(160, 160, 160);
    background-color: RGBA(250, 250, 255, 1.0);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.well header {
    font-weight: bold;
    background-color: RGBA(0, 0, 0, 0.1);
    margin: -10px -5px 0;
    padding: 2px;
    border-radius: 4px;
}

.form-horizontal .control-label {
    width: 130px;
    margin-right: 10px;
}

.form-row {
    margin-bottom: 5px;
    white-space: nowrap;
}

.well[disabled],
div[disabled] {
    display: none;
}

select:disabled,
select:disabled option {
    -webkit-appearance: textfield;
    padding: 0;
}

input:disabled,
textarea:disabled,
.uneditable-input,
select:disabled {
    border-color: transparent;
    background: transparent;
    text-overflow: ellipsis;
    box-shadow: none;
    cursor: auto;
    resize: none;
    overflow: hidden;
}

textarea:disabled {
    max-height: 1.8em;
}

a.disabled {
    text-decoration: none;
    color: inherit;
    overflow:hidden;
    margin-left: 0;
}

input:disabled::-webkit-outer-spin-button,
input:disabled::-webkit-inner-spin-button,
textarea:disabled::-webkit-outer-spin-button,
textarea:disabled::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.editable {
    margin-bottom: 0 !important;
}
.editable.input {
    width:100%;
}
.editable.editing.popup {
    background-color: #fffaf1;
    border-color: #5e5e5e !important;
}
[contenteditable=true] {
    background-color: white!important;
    border-color: #5e5e5e !important;
}

/* Css for image drop area and drag area */
.dropHover {
    -webkit-box-shadow: inset 0 0 10px RGBA(30, 30, 30, 0.5);
}

.dropError {
    -webkit-box-shadow: inset 0 0 10px RGBA(255, 0, 0, 0.5);
}

.dropSuccess {
    -webkit-box-shadow: inset 0 0 10px RGBA(0, 255, 0, 0.5);
}

.images[disabled] button {
    display: none;
}

.imageContainer {
    position: relative;
    float: left;
    width: 85px;
    height: 85px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 4px;
}

.imageContainer button {
    position: absolute;
    top: 3px;
    left: 3px;
    zoom: 0.6;
}

.imageContainer img {
    max-width: 75px;
    max-height: 75px;
}

.imageContainer.drag {
    margin: 0 5px;
    border: 1px solid #5bb75b;
}

.imageContainer.remove {
    margin: 0 5px;
    border: 1px solid #da4f49;
}

.imageContainer.removed {
    opacity: 0.2;
}

#message-bord {
    height: 300px;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #000000;
    color: #ffffff;
}

#message-bord ul {
    margin-left: 5px;
}

#message-bord li {
    list-style: none;
}

#message-bord .response {
    padding-left: 5px;
}

#message-bord .response a {
    padding-left: 5px;
    color: #ffb2b2;
}

.uploadDiv .progress {
    width: 95%;
    float: left;
}

.uploadDiv .icon-refresh {
    float: right;
    margin-top: 3px;
}

.proTip {
    margin-top: 10px;
}

.proTip:before {
    content: "Pro Tip: ";
}

thead th {
    white-space: nowrap;
}

thead .dropdown > div {
    white-space: nowrap;
}

.vendor th, th.limitwidth,
.vendor td, td.limitwidth {
    height: 25px;
    min-width: 60px;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 5px;
    padding-right: 5px;
}
.vendor th div {
    resize: horizontal;
    overflow: auto;
    padding-right: 10px;
}
.vendor td, td.limitwidth {
    max-width: 170px;
}
.vendor input.editable {
    min-width: 98%;
}
.vendor tr img {
    height: 30px;
}

.table-striped > ul {
    display:table-row;
    border: 1px solid #dddddd;
}
.table-striped ul.row li {
    display:table-cell;
}

.table-striped ul.row:nth-child(odd) {
    background-color: #f9f9f9;
}

/*a i, a.glyphicon {*/
    /*color: black;*/
/*}*/

#toolbar-cms .nav {
    margin-bottom: 10px;
}
#toolbar-cms .nav > li > a {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.imageDropbox {
    height: 60px;
    color: #bbb;
}

/* autocomplete */
.typeahead {
    background-color: #fff;
}

.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
    white-space: nowrap !important;
}

/* Bundles */
#bundle {
    min-height: 450px;
}
span.header {
    cursor: pointer;
}
#bundle input:disabled {
    border-color: #CCCCCC;
}
#bundle .input-group {
    line-height: 1px;
}
#showBundle {
    cursor: pointer;
}
#bque {
    max-width: 60px;
    display: inline-block;
}
#bundledProducts {
    margin-top: 10px;
    margin-bottom: 10px;
}
.bundledProduct {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8F8F8;
}
.bundledProduct:nth-child(odd) {
    background-color: #FDFDFD;
}

.glyphicon-arrow-up,
.glyphicon-arrow-down {
    cursor: pointer;
}

.modal-lg {
    width: 85%;
}
.note-editable .col-md-3 {
    width: 20%;
}
.note-editable .col-md-12 {
    width: 80%;
}

#list-available .list-container ul {
    max-height: 300px;
    overflow-y: scroll;
}

.largeText {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapText {
    max-width: 300px;
    word-wrap: break-word;
}

button.fa:before {
    margin-right: 5px;
}

.filler button {
    min-width: 100%;
}

.children li.treeitem {
    padding-left: 1em;
}

.imagerow img {
    max-height: 25px;
}

#imageList .panel {
    height: 70vh;
    overflow-y: scroll;
}

.chartContainer {
    text-align: center;
}

.valuta {
    font-size: 200%;
    white-space: nowrap;
}

.imageDropArea.hovering {
    border: 2px dashed red;
}

#lines td {
    padding-left: 5px;
    padding-right: 5px;
}

#lines td#ordernumber,
#lines td#customerid,
#lines td#date,
#lines td#amount {
    white-space: nowrap;
}

#lines .match td {
    color: green;
}

#lines .nomatch td {
    color: red;
}

#lines .noprocess td {
    color: black;
}

.processPayments button {
    margin-bottom: 20px;
}

.itpakket {
    font-size: 12px;
}

.itpakket tbody td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.materials .well {
    margin-bottom: 0;
}

#popupcontainer .rule #optionalArgumentsInput,
#popupcontainer .rule #optionalArgumentsSelect,
#popupcontainer .rule #optionalArguments {
    display: none;
}

#discount-container #rules td {
    padding-right: 20px;
}

.table .thickerTopBorder td {
    border-top-width: 3px;
}

.panel-futurum {
    border-color: #4d68a1;
}
.panel-futurum .panel-heading {
    color: #fff;
    background-color: #4d68a1;
    border-color: #4d68a1;
}

.gutter {
    padding: 5px 15px;
}

.sideBarScroll {
    height: 100%;
    overflow-y: auto;
}

.faq#image {
    display: inline-block;
    width: 90%;
}