body *:focus {
    outline: none;
}

select.perPage {
    width: 80px;
}

a > .fa,
td > .fa {
    color: black;
    cursor: pointer;
}

a.btn > .fa {
  color: inherit;
}

.navbar {
    min-height: 20px;
    height: 35px;
    margin-bottom: 0;
}

.navbar-header {
    max-height: 30px;
}

.navbar-inverse {
    background-color: #4d68a1;
    border-color: #4d68a1;
    color: white;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #415887;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse  a i {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-user {
    padding-top: 2px;
}

.navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-inverse .navbar-collapse {
    border-color: #4d68a1;
    background-color: #4d68a1;
}

#main-wrapper {
    padding-top: 60px;
    padding-bottom: 40px;
}

#navigationcontainer {
    z-index: 100;
}

.table-condensed .form-control {
    height: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.dropbox.hovering {
    background-color: #9e9e9e;
}

.show-edit {
    display: none;
}
span.btn, span.btn a, span.btn i {
    color: white;
    text-decoration: none;
}

.btn-primary {
    background-color: #4d68a1;
    border-color: #415887;
}

.panel-primary > .panel-heading {
    background-color: #4d68a1;
    border-color: #415887;
}

.panel.panel-spacey {
  margin-top: 10px;
  margin-bottom: 10px;
}

.panel-statistics {
  list-style: none;
  font-size: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  border: 1px solid #ddd;
  margin: 10px 15px;

  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  padding: 15px;
}
.panel-statistics li {
  flex: 1 0 250px;
}

.panel-statistics .valuta, .panel-statistics .value {
  font-size: 200%;
}

.panel-statistics .valuta:before {
  font-size: 60%;
  margin-right: 0.5em;
  content: '€'
}


footer .version {
    color: #777777;
}

#main-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
}
h3.editview {
    margin-top: 0;
    margin-bottom: 0;
}

header.editview:first-child h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-brand .dbName {
    font-size: 10px;
    color: red;
}

#sidebar {
    background-color: #f5f5f5;
    position: fixed;
    padding-top: 0;
    padding-right: 0;
    width: 25%;
    left: -25%;
    height: 100%;
    margin-left: -15px;
    z-index: 8888;

    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}
#sidebar.open {
    left: 0;
}

.statusfilter {
    max-height: 200px;
    overflow-y: scroll;
}

#sidebarCollapser {
    position: absolute;
    right: -39px;
    top: 68px;
    padding: 20px 10px 20px 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right-color: #d0d0d0;
    background-color: white;
}

.weak {
    font-weight: lighter;
}

/* Landingeditor additional styling */
.CodeMirror {
    height: 70vh;
}

.CodeMirror .cm-mustache {
    color: #f92ad8;
}

.eans .seperator:last-child {
    display: none;
}

table .tr td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.hide {
    display: none;
}

#generalsearch {
    width: 50px;
}

#generalsearch:focus {
    width: 150px;
}

.datepicker {
    z-index: 1151 !important;
}

.landing.panel {
    overflow-y: scroll;
    height: 100%;
}
.landing .upload {
    border: 1px solid red;
}

/* CMS style */
#toolbar-cms,
#breadcrumbs {
    display: table;
}

.toggleBlock {
    text-transform: uppercase;
}

th.main-column,
td.main-column {
  min-width: 40px;
}
td.collapse-column {
  min-width: 2.5em;
  max-width: 2.5em;
}

.modifiedProduct select,
.modifiedProduct input {
    font-style: italic;
    color: #b40000 !important;
}

.modal textarea {
    width: 95%;
    height: 350px;
    margin: 0 5px;
}

.wysi {
    height: 300px;
}

.modal.image {
    width: 990px;
    margin-left: -495px;
}

.modal.image .modal-body {
    padding: 10px;
}

.modal.image label {
    display: none;
}

.removeSort {
    color: #c0c0c0;
}

/* Css for breadcrumbs */
#breadcrumbs a.gte::before {
    content: '>';
}

#breadcrumbs a.lte::before {
    content: '<';
}

#breadcrumbs a.not,
#breadcrumbs a.nin {
    text-decoration: line-through;
}

.error-cell-red {
    background-color: red !important;
}

#notificationcontainer {
    position: fixed;
    left: 33%;
    top: 20px;
    z-index: 9999;
}

#notificationcontainer .alert button {
    margin-left: 20px;
}

.label-marge-negative,
.badge-marge-negative {
    background-color: #ff0000;
}

.label-marge-negative[href],
.badge-marge-negative[href] {
    background-color: #ff0000;
}

.label-marge-warning,
.badge-marge-warning {
    background-color: #ff7000;
}

.label-marge-warning[href],
.badge-marge-warning[href] {
    background-color: #ff7000;
}

.label-marge-neutral,
.badge-marge-neutral {
    background-color: #f8d700;
}

.label-marge-neutral[href],
.badge-marge-neutral[href] {
    background-color: #f8d700;
}

.label-marge-positive,
.badge-marge-positive {
    background-color: #356635;
}

.label-marge-positive[href],
.badge-marge-positive[href] {
    background-color: #356635;
}

.label-marge-verypositive,
.badge-marge-verypositive {
    background-color: #61ba54;
}

.label-marge-verypositive[href],
.badge-marge-verypositive[href] {
    background-color: #61ba54;
}

.noRound {
    border-radius: 0 !important;
}

.dataBlock {
    border: 1px solid RGB(160, 160, 160);
    background-color: RGBA(250, 250, 255, 1.0);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.well header {
    font-weight: bold;
    background-color: RGBA(0, 0, 0, 0.1);
    margin: -10px -5px 0;
    padding: 2px;
    border-radius: 4px;
}

.form-horizontal .control-label {
    width: 130px;
    margin-right: 10px;
}

.form-row {
    margin-bottom: 5px;
    white-space: nowrap;
}

.well[disabled],
div[disabled] {
    display: none;
}

select:disabled,
select:disabled option {
    -webkit-appearance: textfield;
    padding: 0;
}

input:disabled,
textarea:disabled,
.uneditable-input,
select:disabled {
    border-color: transparent;
    background: transparent;
    text-overflow: ellipsis;
    box-shadow: none;
    cursor: auto;
    resize: none;
    overflow: hidden;
}

textarea:disabled {
    max-height: 1.8em;
}

a.disabled {
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    margin-left: 0;
}

input:disabled::-webkit-outer-spin-button,
input:disabled::-webkit-inner-spin-button,
textarea:disabled::-webkit-outer-spin-button,
textarea:disabled::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.editable {
    margin-bottom: 0 !important;
}

.editable.input {
    width: 100%;
}

.editable.editing.popup {
    background-color: #fffaf1;
    border-color: #5e5e5e !important;
}

[contenteditable=true] {
    background-color: white !important;
    border-color: #5e5e5e !important;
}

/* Css for image drop area and drag area */
.dropHover {
    -webkit-box-shadow: inset 0 0 10px RGBA(30, 30, 30, 0.5);
}

.dropError {
    -webkit-box-shadow: inset 0 0 10px RGBA(255, 0, 0, 0.5);
}

.dropSuccess {
    -webkit-box-shadow: inset 0 0 10px RGBA(0, 255, 0, 0.5);
}

.images[disabled] button {
    display: none;
}

.imageContainer {
    position: relative;
    float: left;
    width: 85px;
    height: 85px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 4px;
}

.imageContainer button {
    position: absolute;
    top: 3px;
    left: 3px;
    zoom: 0.6;
}

.imageContainer img {
    max-width: 75px;
    max-height: 75px;
}

.imageContainer.drag {
    margin: 0 5px;
    border: 1px solid #5bb75b;
}

.imageContainer.remove {
    margin: 0 5px;
    border: 1px solid #da4f49;
}

.imageContainer.removed {
    opacity: 0.2;
}

.uploadDiv .progress {
    width: 95%;
    float: left;
}

.uploadDiv .icon-refresh {
    float: right;
    margin-top: 3px;
}

.proTip {
    margin-top: 10px;
}

.proTip:before {
    content: "Pro Tip: ";
}

.fut-popover {
  position: relative;
  display: block;
  float: left;
  width: 260px;
  margin: 20px;
  color: black;
}

thead th {
    white-space: nowrap;
}

thead .dropdown > div {
    white-space: nowrap;
}

thead th.filtered {
    padding-bottom: 3px!important;
}


.table-striped > ul {
    display: table-row;
    border: 1px solid #dddddd;
}

.table-striped ul.row li {
    display: table-cell;
}

.table-striped ul.row:nth-child(odd) {
    background-color: #f9f9f9;
}

#toolbar-cms .nav {
    margin-bottom: 10px;
}

#toolbar-cms .nav > li > a {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.imageDropbox {
    height: 60px;
    color: #bbb;
}

/* autocomplete */
.typeahead {
    background-color: #fff;
}

.tt-dropdown-menu {
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
    white-space: nowrap !important;
}

/* Bundles */
#bundle {
    min-height: 450px;
}

#bundle input:disabled {
    border-color: #CCCCCC;
}

#bundle .input-group {
    line-height: 1px;
}

#bque {
    max-width: 60px;
    display: inline-block;
}

#bundledProducts {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bundledProduct {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8F8F8;
}

.bundledProduct:nth-child(odd) {
    background-color: #FDFDFD;
}

.modal-lg {
    width: 85%;
}

.note-editable .col-md-3 {
    width: 20%;
}

.note-editable .col-md-12 {
    width: 80%;
}

#list-available .list-container ul {
    max-height: 300px;
    overflow-y: scroll;
}

.largeText {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrapText {
    max-width: 300px;
    word-wrap: break-word;
}

button.fa:before {
    margin-right: 5px;
}

.filler button {
    min-width: 100%;
}

.children li.treeitem {
    padding-left: 1em;
}

.imagerow img {
    max-height: 25px;
}

#imageList .panel {
    height: 70vh;
    overflow-y: scroll;
}

.chartContainer {
    text-align: center;
}

.valuta {
    font-size: 200%;
    white-space: nowrap;
}

.imageDropArea.hovering {
    border: 2px dashed red;
}

#lines td {
    padding-left: 5px;
    padding-right: 5px;
}

#lines td#ordernumber,
#lines td#customerid,
#lines td#date,
#lines td#amount {
    white-space: nowrap;
}

#lines .match td {
    color: green;
}

#lines .nomatch td {
    color: red;
}

#lines .noprocess td {
    color: black;
}

.processPayments button {
    margin-bottom: 20px;
}

.itpakket {
    font-size: 12px;
}

.itpakket tbody td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.materials .well {
    margin-bottom: 0;
}

#popupcontainer .rule #optionalArgumentsInput,
#popupcontainer .rule #optionalArgumentsSelect,
#popupcontainer .rule #optionalArguments {
    display: none;
}

#discount-container #rules td {
    padding-right: 20px;
}

.table .thickerTopBorder td {
    border-top-width: 3px;
}

.panel-futurum {
    border-color: #4d68a1;
}

.panel-futurum .panel-heading {
    color: #fff;
    background-color: #4d68a1;
    border-color: #4d68a1;
}

.gutter {
    padding: 5px 15px;
}

.sideBarScroll {
    height: 100%;
    overflow-y: auto;
}

.faq#image {
    display: inline-block;
    width: 90%;
}

.faqCats {
    height: 100%;
    overflow-y: scroll;
}

.fa.futcheck {
    color: red;
}
.futcheck.checked {
    color: green;
}

#login .form-wrap {
    width: 60%;
    margin: 0 auto;
}

#login .border{
    width: 40%;
    border: 1px solid #4d68a1;
    margin: auto 20%;
    border-radius: 10px;
}

#bundles th span div {
    display: inline-block;
}

[draggable] {
    user-select: none;
}

.imagerow .imageContainer {
    cursor: move;
    margin-right: 5px;
}

.imagerow .imageContainer.drag {
    opacity: 0.4;
}

.imagerow .imageContainer.over {
    border: 2px dashed #000000;
}

.imagerow .imageContainer .aligner {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
    width: 1px;
}

.dashboard h4 {
    color: black;
}
.dashboard div {
    color: #4d68a1;
}
.dashboard .number {
    color: black;
    font-size: 1.2em;
}

.form-group .help-block {
  margin-top: -15px;
}

#main-wrapper > header {
  margin-bottom: 5px;
}
