{{#if showingTemplates}}
    {{fut-choice value=mailTemplate content=automails optionValuePath="id" optionLabelPath="label" prompt="Choose a template"}}
    <button class="btn btn-success btn-xs" {{action 'makeMail'}}>Make</button>
{{/if}}
<i class="fa {{if showingTemplates 'fa-close' 'fa-plus-circle'}}" {{action 'showTemplates'}}></i>
