<div class="row-fluid">
    <div class="col-xs-4">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Status</header>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>{{model.Ordernumber}}</td>
                        <td>{{model.Statusdescription}} ({{model.Status}})</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="col-xs-4">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Bank Account Information</header>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Bankaccount</td>
                        <td>{{model.bankaccountInfo.bankaccount}}</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>{{model.bankaccountInfo.name}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{model.bankaccountInfo.City}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="col-xs-4">
        <section class="panel panel-futurum OrderData">
            <div class="panel-heading">
                <header class="panel-title">Orderdetails</header>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Ordernumber</td>
                        <td>
                            <a href="{{bo1-url model.Ordernumber}}" target="_blank">{{model.Ordernumber}}</a>
                            {{!--(<a href="{{fo2url 'factuur/'}}{{RegId}}/{{Ordernumber}}" target="_blank">online invoice</a>)--}}
                        </td>
                    </tr>
                    <tr>
                        <td>Orderdate</td>
                        <td>{{model.OrderDate}}</td>
                    </tr>
                    <tr>
                        <td>Regid</td>
                        <td>
                            <a href="{{bo1-url model.RegId type='customer'}}" target="_blank">{{model.RegId}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-6">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Invoice Address Information</header>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{model.name}} {{model.lastname}}</td>
                    </tr>
                    <tr>
                        <td>Company:</td>
                        <td>{{model.company}}</td>
                    </tr>
                    <tr>
                        <td>Street:</td>
                        <td>{{model.street}}</td>
                    </tr>
                    <tr>
                        <td>Number:</td>
                        <td>{{model.nbr}}</td>
                    </tr>
                    <tr>
                        <td>Zip:</td>
                        <td>{{model.zip}}</td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>{{model.city}}</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>{{model.country}}</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>{{model.department}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{model.email}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{model.phone}}</td>
                    </tr>
                    <tr>
                        <td>Reference:</td>
                        <td>{{model.Reference}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="col-xs-6">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Delivery Address Information</header>
            </div>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{model.DelName}} {{model.dellastname}}</td>
                    </tr>
                    <tr>
                        <td>Company:</td>
                        <td>{{model.DelCompany}}</td>
                    </tr>
                    <tr>
                        <td>Street:</td>
                        <td>{{model.delstreet}}</td>
                    </tr>
                    <tr>
                        <td>Number:</td>
                        <td>{{model.DelNbr}}</td>
                    </tr>
                    <tr>
                        <td>Zip:</td>
                        <td>{{model.DelZip}}</td>
                    </tr>
                    <tr>
                        <td>City:</td>
                        <td>{{model.DelCity}}</td>
                    </tr>
                    <tr>
                        <td>Country:</td>
                        <td>{{model.DelCountry}}</td>
                    </tr>
                    <tr>
                        <td>Department:</td>
                        <td>{{model.DelDepartment}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{model.DelEmail}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{model.DelPhone}}</td>
                    </tr>
                    <tr>
                        <td>Reference:</td>
                        <td>{{model.Reference}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Orderlines</header>
            </div>
            <table class="table table-striped table-hover" id="OrderLines">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>ProdLevId</th>
                        <th>Name</th>
                        <th>Ordered Stock</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.orderlines as |line|}}
                        <tr>
                            <td>{{line.Volgnr}}</td>
                            <td>{{line.ProdLevId}}</td>
                            <td>{{line.Vendor}} {{line.Name}}</td>
                            <td>{{line.OrderedStock}}</td>
                            <td>&euro; {{line.EUprice}}</td>
                            <td>{{line.Quant}}</td>
                            <td>&euro; {{line.revenue}}</td>
                        </tr>
                    {{/each}}
                    <tr class="thickerTopBorder">
                        <td></td>
                        <td colspan="5">Shipping/Administration cost</td>
                        <td>&euro; {{model.ShippingCosts}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="5">Discount</td>
                        <td>&euro; {{model.Discount}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="5">Coupon discount</td>
                        <td>&euro; {{model.coupon_discount}}</td>
                    </tr>
                    <tr class="thickerTopBorder">
                        <td></td>
                        <td colspan="5">Sub total</td>
                        <td>&euro; {{model.totalExclTax}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="5">VAT ({{model.TaxPercentage}}%)</td>
                        <td>&euro; {{model.Tax}}</td>
                    </tr>
                    <tr class="thickerTopBorder">
                        <td></td>
                        <td colspan="5">Total</td>
                        <td>&euro; {{model.TotalToPay}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Order history</header>
            </div>
            <table class="table table-striped table-hover" id="OrderHistory">
                <thead>
                    <tr>
                        <th>Ordernumber</th>
                        <th>Text</th>
                        <th>Status</th>
                        <th>User</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.orderhistory as |history|}}
                        <tr>
                            <td>{{history.Ordernumber}}</td>
                            <td>{{history.Text}}</td>
                            <td>{{history.Status}}</td>
                            <td>{{history.user}}</td>
                            <td>{{history.HistDate}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Orderlines history</header>
            </div>
            <table class="table table-striped table-hover" id="OrderLinesHistory">
                <thead>
                    <tr>
                        <th>Ordernumber</th>
                        <th>Id</th>
                        <th>Text</th>
                        <th>Status</th>
                        <th>User</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.orderlineshistory as |history|}}
                        <tr>
                            <td>{{history.Ordernumber}}</td>
                            <td>{{history.Volgnr}}</td>
                            <td>{{history.text}}</td>
                            <td>{{history.status}}</td>
                            <td>{{history.user}}</td>
                            <td>{{history.date}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title form form-inline">
                    Sent emails from backoffice {{order/make-mail automails=automails makeMail="makeMail"}}
                </header>
            </div>
            <table class="table table-striped table-hover" id="OrderEmails">
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>User</th>
                        <th>Date</th>
                        <th>Receiver</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.emails as |mail|}}
                        <tr>
                            <td>{{mail.subject}}</td>
                            <td>{{mail.user}}</td>
                            <td>{{mail.datesend}}</td>
                            <td>{{mail.towho}}</td>
                        </tr>
                    {{else}}
                        <tr><td colspan="4">No emails are send</td></tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Incidents</header>
            </div>
            <table class="table table-striped table-hover" id="OrderIncidents">
                <thead>
                    <tr>
                        <th>Text</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each model.incidents as |incident|}}
                        <tr>
                            <td>{{{incident.Text}}}</td>
                            <td>{{incident.IncidentDate}}</td>
                        </tr>
                    {{else}}
                        <tr><td colspan="7">This order has no incidents</td></tr>
                    {{/each}}
                </tbody>
            </table>
        </section>
    </div>
</div>