<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">
                    <i class="fa fa-envelope"></i> Email
                    <p class="pull-right">
                        <button class="btn btn-success btn-xs" {{action 'send' model.mail model.order subject body}}><i class="fa fa-send"></i> Send</button>
                        <button class="btn btn-danger btn-xs" {{action 'cancel' model.mail model.order}}><i class="fa fa-ban"></i> Cancel</button>
                    </p>
                </header>
            </div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>Ordernumber</td>
                        <td>{{model.order.Ordernumber}}</td>
                    </tr>
                    <tr>
                        <td>Customer</td>
                        <td>{{model.order.name}}</td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td>{{model.mail.fromwho}}</td>
                    </tr>
                    <tr>
                        <td>To</td>
                        <td>
                            {{fut-choice model=model field="mail.towho" content=addresses formGroup=false}}
                        </td>
                    </tr>
                    <tr>
                        <td>Subject</td>
                        <td>{{fut-input value=subject formGroup=false}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>
    <div class="col-xs-12">
        {{fut-wysiwyg field="body" model=this value=body}}
    </div>
</div>
