<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <button id="AddButton" class="btn btn-xs btn-success" {{action "addHoliday"}}>
                    <i class="fa fa-plus-circle"></i>&nbsp; Add
                </button>
            </th>
            <th>Start date</th>
            <th>End date</th>
            <th>Instock text</th>
            <th>Bike instock text</th>
            <th>Title Tag</th>
            <th>Toppanel</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        {{#with item.model as holiday}}
            <tr>
                <td>
                    {{partial "editing"}}
                    {{#if editing}}
                        <a id="delete" {{action "deleteHoliday" holiday}}>
                            <i class="glyphicon glyphicon-remove"></i>
                        </a>
                    {{/if}}
                </td>
                <td>
                    {{input value=holiday.start class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=holiday.end class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=holiday.texts.instock class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=holiday.texts.bikeinstock class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=holiday.texts.title class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=holiday.texts.toppanel class="editable input" disabled=item.notediting}}
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>