<div class="col-xs-6">
    {{fut-dataimport columnMap=columnMap dropped="imported" fieldDelim=fieldDelim}}
</div>
<div class="col-xs-6 pull-right">
    <button class="btn btn-primary" {{action 'saveStocks'}}>
        <i class="fa fa-cloud-upload"></i> Import Stocks
    </button>
</div>
<table class="table table-bordered table-striped itpakket">
    <thead>
        <tr>
            <th>Prodlevid</th>
            <th>Stock</th>
            <th>current stock</th>
        </tr>
    </thead>
    <tbody id="lines">
        {{#each imports as |product|}}
            <tr class="{{if product.isAllowed 'match' 'nomatch'}}">
                <td>{{product.prodlevid}}</td>
                <td><strong>{{product.stock}}</strong></td>
                <td>{{product.currentStock}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>