{{outlet}}
<form role="form">

    <div class="form-group">
        <label for="category">Category</label>
        {{select-2
        content=fomenu
        value=model.category_id
        optionValuePath='id'
        optionLabelPath='name'
        optionHeadlinePath='name'
        optionDescriptionPath='foo'
        placeholder='Choose...'
        }}
    </div>
    <div class="col-xs-3">
        {{fut-check checked=model.enabled enabled=true label="Enabled"}}
    </div>
    <div class="col-xs-3">
        {{fut-check checked=model.expertise enabled=true label="Expertise"}}
    </div>
    <div class="clearfix"></div>
    <div class="form-group">
        {{fut-input value=model.subject label="Subject"}}
    </div>
    <div class="form-group">
        {{fut-wysiwyg model=model field="content" value=model.content rows=4 label="Content"}}
    </div>
</form>
<hr>
<div class="pull-right">
    {{fut-previewlink value=model.category_id type="category"}}

    <button class="btn btn-danger"  {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
</div>
Last updated: {{model.updated}}