{{fut-fomenutree menus=model.fomenu getChildren="getChildren" itemClicked="getChildren"}}
{{fut-pagination data=pagination pageChanged="pageChanged"}}
<div class="col-md-10">
    <table class="table table-striped table-hover table-condensed">
        <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" {{action 'add'}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>
                Category
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='category_id' title='Category'}}
            </th>
            <th>Subject</th>
            <th>Content</th>
            <th>
                Enabled
                {{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='enabled' title='Enabled'}}
            </th>
            <th>Expertise</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        {{#each model.articles as |article|}}
            <tr>
                <td class="main-column">
                    {{fut-previewlink value=article.category_id type="category"}}
                    {{#link-to 'shop.articles.edit' article title="Edit article"}}<i class="fa fa-edit"></i>{{/link-to}}
                </td>
                <td>{{article.category.name}}</td>
                <td>{{input value=article.subject class="editable input" disabled=true}}</td>
                <td>{{str-truncate article.content 40 '...' true}}</td>
                <td>{{fut-check checked=article.enabled}}</td>
                <td>{{fut-check checked=article.experise}}</td>
                <td>{{article.updated}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>