<div class="panel panel-default">
    <div class="panel-heading container-fluid">
        <div class="col-xs-6">
            <strong>{{model.ProdLevId}}</strong><br>
            <small>{{model.vendor}} {{model.name}}</small>
        </div>
        <div class="col-xs-6 text-right">
            {{model.variations.length}} variations
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            {{fut-textarea model=model field="Koms" rows=16 label="Short description"}}
        </div>
        <div class="col-md-6">
            {{fut-wysiwyg model=model field="Loms" value=model.Loms rows=4 label="Long description"}}
        </div>
        <div class="col-xs-12 imagerow images">
            {{fut-productimages images=model.Images deleteImage="deleteImage"}}
        </div>
    </div>
</div>
<div class="pull-right">
    <button class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-danger" {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
    {{#if model.hasVariations}}
        <button class="btn btn-info" {{action 'copy' model}}><i class="fa fa-ban"></i> Copy description to variations</button>
    {{/if}}
</div>