<button type="button" class="btn btn-xs btn-danger" {{action "deleteImage" model image}}>
    <i class="fa fa-times" style="color: white;"></i>
</button>
{{log 'image' image}}
<img src="{{image.url}}">
<span class="aligner"></span>