{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th></th>
        <th>ProdLevId
            {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='ProdLevId' title='Prodlevid'}}
        </th>
        <th>Short Description</th>
        <th>Long Description</th>
        <th>Images</th>
    </tr>
    </thead>
    <tbody style="width: 100%">
        {{#each model as |product|}}
            <tr>
                <td>
                    {{#link-to 'product.content.edit' product title='Edit content'}}<i class="fa fa-edit"></i>{{/link-to}}
                    {{fut-previewlink value=product.id title="Open product"}}
                </td>
                <td>{{product.ProdLevId}}<br>
                    <small>{{product.vendor}} {{product.name}}</small>
                </td>
                <td class="limitwidth" style="max-width: 25vw">
                    {{str-truncate product.Koms 50 '...' true}}
                </td>
                <td class="limitwidth" style="max-width: 25vw">
                    {{str-truncate product.Loms 50 '...' true}}
                </td>
                <td class="imagerow">
                    {{#each product.Images as |image|}}
                        <img src="{{image.url}}">
                    {{/each}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>