<div class="row">
    <div id="breadcrumbs" class="col-md-12"></div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th>ProdLevId</th>
            <th>Short Description</th>
            <th>Long Description</th>
            <th>Images</th>
        </tr>
    </thead>
    <tbody>
    {{#each item in controller itemController="editable"}}
        {{#with item.model as product}}
            <tr>
                <td>
                    {{partial "editing"}}
                    <a target="cmspreview" href="{{fo2url product.id type='product'}}">
                        <i class="glyphicon glyphicon-globe" title="Open product"></i>
                    </a>
                </td>
                <td>{{product.ProdLevId}}</td>
                <td {{action 'showModal' 'popupHtml' product 'Koms' on='doubleClick'}} class="limitwidth" style="max-width:200px">
                    {{striptags product.Koms}}
                </td>
                <td {{action 'showModal' 'popupHtml' product 'Loms' on='doubleClick'}} class="limitwidth" style="max-width:200px">
                    {{striptags product.Loms}}
                </td>
                <td {{action 'openImages' product 'Image' item.editing on='doubleClick'}} class="imagerow popupimage editable" data-name="Image" data-field-type="PopupImages" style="max-height: 25px">
                    {{product.productImagesHtml}}
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>