{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>
            <div>Action</div>
        </th>
        <th>
            <div>
                Ordernumber
                {{fut-listsort setSort='sort' field='ordernumber'}}
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='ordernumber' title='Ordernumber' dataType='number'}}
            </div>
        </th>
        <th>
            <div>Status {{fut-listsort setSort='sort' field='status'}}</div>
        </th>
        <th>
            <div>Customer {{fut-listsort setSort='sort' field='customerId'}}</div>
        </th>
        <th>
            <div>Shipping type {{fut-listsort setSort='sort' field='shippingType'}}</div>
        </th>
        <th>
            <div>Items</div>
        </th>
    </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each model as |retour|}}
        <tr>
            <td>
                <button class="btn btn-xs btn-primary" disabled={{retour.isReceived}} {{action 'setReceived' retour}}>
                    <i class="fa fa-truck"></i> Received
                </button>
            </td>
            <td>
                <a href="{{bo1-url retour.ordernumber}}" target="cmspreview">
                    <span>{{retour.ordernumber}}</span>
                </a>
            </td>
            <td>{{retour.statusText}}</td>
            <td>
                <a href="{{bo1-url retour.customerId type='customer'}}" target="cmspreview">
                    <span>{{retour.customerId}}</span>
                </a>
            </td>
            <td>{{retour.shippingType}}</td>
            <td>
                <a href="" style="padding:10px" {{action 'toggleItems' retour}}><i class="fa fa-level-down"></i></a>
                {{#if retour.itemsVisible}}
                    <dl class="dl-horizontal">
                        {{#each retour.items as |item|}}
                            <dt>Prodlevid:</dt>
                            <dd>{{item.prodlevid}}</dd>
                            <dt>Qty:</dt>
                            <dd>{{item.qty}}</dd>
                            <dt>Reason:</dt>
                            <dd>{{item.retourreason}}</dd>
                            <dt>Type:</dt>
                            <dd>{{item.retourtype}}</dd>
                        {{/each}}
                    </dl>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

