<div class="row">
    <header class="editview">
        <div class="col-xs-6">
            <h3>Procurement order for supplier <strong>{{model.supplier.name}}</strong></h3>
        </div>
        <div class="col-xs-6" style="line-height: 24px">
            <div class="col-xs-6">Created by: {{model.user.name}}</div>
            <div class="col-xs-4">Status: <span class="badge">{{model.status}}</span></div>
        </div>
    </header>
</div>
<div class="clearfix"></div>

<div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <i class="fa fa-envelope"> Email</i>
        <i class="fa fa-chevron-down fa-lg pull-right"></i>
    </div>
    <div id="collapseOne" class="panel-collapse collapse {{if mailOpen 'in'}}">
        <div class="panel-body">
            {{fut-input model=model field="mail_to"  value=model.mail_to label="To:"}}
            {{fut-input model=model field="mail_subject" value=model.mail_subject label="Subject:"}}
            {{fut-input model=model field="reference" value=model.reference label="Reference:"}}
            {{fut-textarea model=model field="mail_body" value=mailBody rows="4" label="Message:"}}
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div>
    <button class="btn btn-sm btn-danger deleteBtn" {{action "deleteSelected"}}><i class="fa fa-ban"></i> delete</button>
    <button class="btn btn-sm btn-success addBtn" {{action "addToOrder"}}><i class="fa fa-plus-circle"></i> add</button>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-success saveOrderButton blockwhileajax" {{action "saveOrder"}}>
            <i class="fa fa-save"></i> Save
        </button>
        <button type="button" class="btn btn-sm btn-success dropdown-toggle blockwhileajax" data-toggle="dropdown"
                aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="sendPreviewButton" {{action "saveAndPreview"}}><i class="fa fa-envelope"></i> Save
                &amp; send preview</a></li>
            <li><a href="#" class="sendOrderButton" {{action "saveAndFinal"}}><i class="fa fa-send"></i> Save &amp; send final</a></li>
            <li><a href="#" class="saveOrderButton" {{action "saveOrder"}}><i class="fa fa-save"></i> Save</a></li>
        </ul>
    </div>
</div>
<form class="form">
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th><input type="checkbox" {{action 'selectAll'}} title="Select All"></th>
                <th>ProdLevID</th>
                <th>Name</th>
                <th>PR</th>
                <th>Min/Max</th>
                <th>Free stock</th>
                <th>Quantity</th>
                <th>Scanned</th>
                <th class="text-right">Purchase Price</th>
                <th class="text-right">Supplier ProdID</th>
            </tr>
            <tr>
                <td>Totals:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{model.totalQty}}</td>
                <td>{{model.totalScanned}}</td>
                <td class="text-right">&euro; {{fut-money getTotal}}</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
        {{#each model.lines as |line|}}
            <tr>
                <td style="white-space: nowrap">
                    {{input type='checkbox' checked=line.selected}}

                    <i id="removefromorder" class="fa fa-ban {{if line.stockLoading 'fa-spin'}}" title="Remove from order" {{action 'requestDelete' line}}></i>

                    {{#if line.wantsToDelete}}
                        {{fut-choice content=allowedStocks value=line.currentStock optionValuePath="stock" optionLabelPath="stock"}}
                        <i class="fa fa-check" style="color:red" {{action 'performDelete' line}}></i>
                    {{/if}}

                    {{fut-previewlink value=line.prodlevid}}
                </td>
                <td id="prodlevid">
                    {{#if line.isNew}}
                        {{fut-input model=line field="prodlevid"}}
                    {{else}}
                        <a href="{{bo1-url line.prodlevid type="product"}}" target="cmspreview">{{line.prodlevid}}</a>
                    {{/if}}
                </td>
                <td>
                    <div>{{line.product.vendor}} {{line.product.name}} {{line.specification}}</div>
                    <small class="eans">
                        {{#each line.product.eans as |ean|}}{{ean}}&nbsp;<span class="seperator">|</span>&nbsp;{{/each}}
                    </small>
                </td>
                <td>
                    {{fut-check checked=line.metadata.pr}}
                </td>
                <td>{{line.metadata.min}}/{{line.metadata.max}}</td>
                <td>{{line.metadata.freestock}}</td>
                <td class="form-group {{if line.isChanged 'has-warning'}}">
                    <label for="qty" class="sr-only">Quantity</label>
                    {{input type="number" value=line.qty class="form-control input-sm" tabindex="1"}}
                </td>
                <td>{{line.scanned_qty}}</td>
                <td class="text-right">&euro; {{fut-money line.pprice}}</td>
                <td class="text-right">{{input value=line.prodid disabled=true class="text-right"}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</form>