<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th><input type="checkbox" {{action "selectAll"}} title="select all"></th>
            <th>Supplier</th>
            <th>Reference</th>
            <th>Created By</th>
            <th>Created</th>
            <th>Status</th>
            <th>Scanned</th>
            <th class="text-right">Qty</th>
            <th class="text-right">Total</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |order|}}
            {{#procurement/searchable-order query=q lines=order.lines as |isSearched getSearched|}}
                <tr>
                    <td>
                        {{input type='checkbox' checked=order.selected}}
                        {{#if order.isNotClosed}}
                            <button class="btn btn-xs {{if order.canBeClosed 'btn-success' 'btn-warning'}}"
                                {{action "closeOrder" order}}>close
                            </button>
                        {{else}}
                            <button class="btn btn-xs btn-danger" disabled="disabled">Closed</button>
                        {{/if}}
                        <button class="btn btn-xs btn-primary" {{action 'makeCopy' order}}><i class="fa fa-code-fork"></i></button>
                        {{#link-to 'procurement.orders.edit' order.id}}{{order.id}}{{/link-to}}
                    </td>
                    <td><span>{{order.supplier.name}}</span> ({{order.supplier.id}})</td>
                    <td>{{order.reference}}</td>
                    <td>{{order.user.name}}</td>
                    <td>{{order.created_at}}</td>
                    <td>{{order.status}}</td>
                    <td>{{order.totalScanned}}</td>
                    <td class="text-right">{{order.totalQty}}</td>
                    <td class="text-right">&euro; {{fut-money order.total}}</td>
                </tr>

                {{#if isSearched}}
                    <tr>
                        <td colspan="999">
                            <table style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Prodlevid</th>
                                    <th>Prodid</th>
                                    <th>Qty ordered</th>
                                    <th>Qty scanned</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {{#each getSearched as |searched|}}
                                        <tr>
                                            <td><a href="{{bo1-url searched.prodlevid type="product"}}"
                                                   target="cmspreview">{{searched.prodlevid}}</a></td>
                                            <td>{{searched.prodid}}</td>
                                            <td>{{searched.qty}}</td>
                                            <td>{{searched.scanned_qty}}</td>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{/if}}
            {{/procurement/searchable-order}}
        {{/each}}
    </tbody>
</table>