<div class="col-md-3 col-md-push-3">
    <div class="well dropbox">
        <br>
        Drag file to process
        <br>
        <br>
    </div>
</div>
<div class="col-md-12 row">
    <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-success" {{action 'processOrders' model}}>Process</button>
        <button type="button" class="btn btn-sm btn-danger" {{action 'clear'}}>Clear</button>
    </div>
    <ul class="col-md-10 list-inline">
        <li><span class="badge">{{model.greenOrders}}</span> green orders</li>
        <li><span class="badge">{{model.redOrders}}</span> red orders</li>
        <li><span class="badge">{{model.blackOrders}}</span> black orders</li>
    </ul>
</div>
<table class="col-md-12 table table-striped table-bordered">
    <thead>
        <tr>
            <th>&nbsp;&nbsp;</th>
            <th>Ordernumber</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Errors</th>
        </tr>
    </thead>
    <tbody id="lines">
    {{#each item in controller}}
        {{#with item as order}}
            <tr class="{{if order.valid 'match' 'nomatch'}} {{if order.checkPayment 'noprocess'}}">
                <td>{{input type="checkbox" checked=order.process}}</td>
                <td>{{#link-to 'order.detail' order.ordernumber}}{{order.ordernumber}}{{/link-to}}</td>
                <td>{{order.customerid}}</td>
                <td>{{order.date}}</td>
                <td>{{order.amount}}</td>
                <td>{{order.description}}</td>
                <td>{{order.error}}</td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>