<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" {{action "addBanner"}}>
                    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
                </button>
            </th>
            <th>Campaign</th>
            <th>Url</th>
            <th>Image</th>
            <th>Description</th>
            <th>Style</th>
            <th>Content</th>
            <th>Enabled</th>
            <th>Type</th>
            <th>ShowOn</th>
            <th>Position</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        {{#with item.model as banner}}
        <tr>
            <td style="min-width: 40px;">
                {{partial "editing"}}
                {{#if editing}}
                    <a id="delete"><i class="fa fa-times"></i></a>
                {{/if}}
            </td>

            <td>
                {{input value=banner.campaign class="editable input" disabled=item.notediting}}
            </td>
            <td>
                {{input value=banner.url class="editable input" disabled=item.notediting}}
            </td>
            <td>
                {{banner-upload banner=banner.image.location uploadImage=banner.uploadImage width="75px" style=banner.style}}
            </td>
            <td>
                {{input value=banner.alt class="editable input" disabled=item.notediting}}
            </td>
            <td>
                {{input value=banner.style class="editable input" disabled=item.notediting}}
            </td>
            <td>
                {{input value=banner.content class="editable input" disabled=item.notediting}}
            </td>
            <td>
                {{input type="checkbox" checked=banner.enabled class="editable input" disabled=item.notediting}}
            </td>
            <td>
                {{view "select"
                content=controller.parentController.bannerTypes
                selection=banner.showOn.0.type disabled=item.notediting}}
            </td>
            <td>
                {{input type="number" value=banner.showOn.0.id class="editable" disabled=item.notediting}}
            </td>
            <td>
                {{input type="number" value=banner.showOn.0.position class="editable" disabled=item.notediting}}
            </td>
        </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>