<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">
    <!-- Application styles. -->
    <!-- build:[href] /styles/styles.min.css -->
    <link rel="stylesheet" href="/app/styles/index.css">
    <!-- /build -->

    <!-- Application source. -->
    <!-- build:[src] /source.min.js -->
    <script data-main="/app/main" src="/vendor/bower/requirejs/require.js"></script>
    <!-- /build -->
</head>
<body>
<div class="container-fluid">
    <div id="navigationcontainer" class="col-md-12"></div>
    <div id="sidebar" class="container-fluid"></div>
    <div id="main-wrapper">
        <div id="notificationcontainer"></div>
        <div id="uicontainer" class="col-md-12"></div>
        <div id="filtercontainer" class="col-md-7" style="display: none"></div>
        <div class="clearfix"></div>
        <div id="treeView" class="col-md-2" style="display: none"></div>
        <div id="contentcontainer"></div>
        <div id="ember_content"></div>
    </div>
    <script type="text/x-handlebars" data-template-name="application">
        {{outlet 'pagination'}}
        {{outlet}}
        {{outlet 'modal'}}
    </script>
    <div id="popupcontainer" class="modal"></div>
    <!--<div id="errorMessageContainer" class="col-md-12 well"></div>-->

    <footer class="col-md-12 row">
        <span>&copy; Futurumshop 2015</span>
        <!-- build:template
            <span class="version"> v.<%= version %></span>
        /build -->
    </footer>
</div>
</body>
</html>
