{{#fut-sidebar model=model}}
    {{shop/landing/image-sidebar model=model refreshImages="refreshImages" deleteImage="deleteImage" addUploadImage="addUploadImage"}}
{{/fut-sidebar}}

<p class="col-xs-12">
    {{ivy-codemirror value=model.body theme="monokai" mode="htmlmixed" lineNumbers=true}}
</p>
<p id="controls" class="col-xs-12">
    <button id="save" class="btn btn-success" {{action "save" model}}><i class="fa fa-save"></i> Save</button>
    <button id="close" class="btn btn-primary" {{action "close" model}}><i class="fa fa-times"></i> Close</button>
</p>
