<h4 class="modal-title" id="myModalLabel" align="center">
    Edit Product Question: {{model.id}} {{model.product.Vendor}} {{model.product.Name}}
    <a href="{{fo2url model.prodlevid type='product' anchor='anchorReviews'}}" target="preview">
        <i class="glyphicon glyphicon-globe" title="View product on site"></i>
    </a>
</h4>
<form class="col-xs-12 form">
    <span class="control-group"></span>
    <div class="control-group">
        <label for="question_input">Question</label>
        <div class="well col-xs-12">
            {{model.question}}
        </div>
    </div>
    <p class="control-group">
        <label for="answer_input" id="answer_label">Website Answer *</label>
        {{textarea value=model.answer class="form-control" name="anwer_input"}}
    </p>
    <p class="control-group">
        <label for="answerer_input" id="answerer_label">Answerer</label>
        {{input value=model.answerer class="form-control" name="anwerer_input"}}
    </p>

    <div>
        <span class="control-group col-xs-4">
            <label for="email_input" id="email_label">
                {{input type="checkbox" checked=model.email_input name="email_input"}}
                 Send email to customer?
            </label>
        </span>
        <span class="control-group col-xs-4">
            <label for="fo_input" id="fo_label">
                {{input type="checkbox" checked=model.fo_anwswer name="fo_input"}}
                 Place on website?
            </label>
        </span>
        <span class="control-group col-xs-4">
             <label for="fo_remove_input" id="fo_remove_label">
                 {{input type="checkbox" checked=model.fo_remove_question name="fo_remove_input"}}
                 Remove question from website?
            </label>
        </span>
        {{#if model.email_input}}
            <div id="for_email">
                <p class="control-group">
                    <label for="email_to" id="email_to_label">Email To</label>
                    {{input size="10" value=model.user_email class="form-control"}}
                </p>
                <p class="control-group">
                    <label for="email_text" id="email_text_label">Email Text</label>
                    {{textarea value=model.mailBody cols="3" rows="4" class="form-control" style="height:initial;width:100%"}}
                </p>
            </div>
        {{/if}}
    </div>
</form>

<div class="col-xs-12">
    <button class="btn btn-success" {{action 'save' model}}>Save</button>
    {{#link-to 'product.questions' class="btn btn-danger"}}Cancel{{/link-to}}
</div>

<div class="clearfix"></div>