<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="min-width: 65px;">&nbsp;</th>
        <th>
            Answered {{fut-listfilter-bool setFilter='filter' clearFilter='removefilter' field='is_answered' title='Answered'}}
        </th>
        <th>
            Vendor {{fut-listfilter-text setFilter='filter' clearFilter='removefilter' field='product.Vendor' title='Vendor'}}
        </th>
        <th>
            Question {{fut-listfilter-text setFilter='filter' clearFilter='removefilter' field='question' title='Question'}}
        </th>
        <th>
            Answer {{fut-listfilter-text setFilter='filter' clearFilter='removefilter' field='answer' title='Answer'}}
        </th>
        <th>Convert</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        {{#with item.model as question}}
            <tr>
                <td width="5">
                    {{#link-to 'product.questions.edit' question}}<i class="glyphicon glyphicon-pencil"></i>{{/link-to}}
                    <a {{action 'deleteQuestion' question}}><i class="fa fa-times"></i></a>
                    <a target="cmspreview" href="{{fo2url question.prodlevid type='product'}}">
                        <i class="glyphicon glyphicon-globe" title="Open product"></i>
                    </a>
                </td>
                <td>{{input type="checkbox" checked=question.is_answered disabled=item.notediting}}</td>
                <td width="5">{{question.product.Vendor}}</td>
                <td class="largeText wrapText" style="max-width:300px">{{question.question}}</td>
                <td>{{question.answer}}</td>
                <td>
                    <button class="btn btn-xs btn-success" {{action 'convert' question}}>Convert</button>
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>

