<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" id="AddButton">
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th data-name="automail_id">ID </th>
            <th data-name="status_id">
                Status
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='status_id' title='Status'}}
            </th>
            <th>From who</th>
            <th>Subject</th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        <tr>
            <td style="min-width: 40px;">{{partial "editing"}}</td>
            <td>{{item.model.id}}</td>
            <td>{{item.model.status_id}}</td>
            <td class="col-md-2">
                <label for="fromwho" class="sr-only">From who</label>
                {{input value=item.model.fromwho class="editable input" disabled=item.notediting}}
            </td>
            <td class="col-md-4">
                <label for="subject" class="sr-only">Subject</label>
                {{input value=item.model.subject class="editable input" disabled=item.notediting}}
            </td>
            <td class="col-md-2" style="max-width:500px" {{action 'showModal' 'popupHtml' item.model 'body' on='doubleClick'}}>
                <div id="body" class="editable largeText" style="max-height:4em;">{{item.model.body}}</div>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>