<div class="col-xs-12">
    <div class="form-group col-xs-10 col-md-8">
        <div>
            <label for="statuses">Statuses:</label>
            <button class="btn btn-primary btn-xs pull-right" id="allStatuses">All statuses</button>
        </div>
        <select name="Statuses" id="statuses" multiple style="width: 100%"></select>
    </div>
    <div class="col-xs-2 col-md-4">
        <p><button class="btn btn-primary btn-xs" id="sameasbo1">Same as BO1</button></p>
        <p><button class="btn btn-primary btn-xs" id="statuscancelled">Cancelled</button></p>
        <p><button class="btn btn-primary btn-xs" id="statuscomplete">Complete</button></p>
    </div>

    <div class="col-xs-5">
        <label for="includeDE"><input type="checkbox" id="includeDE"> Include DE</label>
    </div>

    <div class="col-xs-7">
        <label for="includeNazend"><input type="checkbox" id="includeNazend"> Include Nazend</label>
    </div>
</div>

<div class="col-xs-12 form-group">
    <div class="col-xs-12">
        <label for="vendors">Vendors:</label>
        <button class="btn btn-primary btn-xs pull-right" id="clearvendors">All vendors</button>
    </div>
    <div class="col-xs-12">
        <select name="Vendors" id="vendors" multiple style="width: 100%;min-height: 200px;"></select>
    </div>
</div>

{{#hasCats}}
    <div class="col-xs-12 form-group">
        <div class="col-xs-12">
            <label for="cats">Cats:</label>
            <button class="btn btn-primary btn-xs pull-right" id="clearcats">All cats</button>
        </div>
        <div class="col-xs-12">
            <select name="cats" id="cats" multiple style="width: 100%;min-height: 200px;"></select>
        </div>
    </div>
{{/hasCats}}