<table class="table table-bordered">
    <thead>
        <tr>
            <th>Report</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |report|}}
            <tr>
                <td>{{report.name}}</td>
                <td>
                    {{fut-daterange from=report.from to=report.to label="Period:" singleDatePicker=false minDate="01-01-1990" maxDate=report.maxDate}}
                </td>
                <td>
                    <button type="button" class="btn btn-primary export"{{action 'exportReport' report}}>Download report</button>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>