<div class="col-xs-6">
    {{fut-dataimport dropped="imported" lineDelim=lineDelim fieldDelim=fieldDelim onlySplitLines=true}}
</div>

<div class="col-xs-4">
    <p>There are <span id="total">{{exportableOrders}}</span> orders to export.</p>

    <p>
        <button id="export" type="button" class="btn btn-primary export"
                disabled={{noExportable}} {{action 'exportOrders'}}>Export orders
        </button>
    </p>
    <button id="download" class="btn btn-primary" {{action 'downloadLast'}}>Download last file</button>
</div>

<div class="clearfix"></div>

<table class="table table-bordered table-striped itpakket">
    <thead>
    <tr>
        <th></th>
        <th>Order</th>
        <th>Date</th>
        <th>Colli</th>
        <th>Insurance</th>
        <th>Rembours</th>
        <th>Ship</th>
        <th>Barcode</th>
        <th>Name</th>
        <th>Address</th>
    </tr>
    </thead>
    <tbody id="orders">
    {{#each imports as |order|}}
        <tr>
            <td><input type="checkbox" title="Importable" checked={{order.order}}></td>
            <td><a href="{{order.orderno}}" target="_blank">{{order.orderno}}</a></td>
            <td>{{order.date}}</td>
            <td>{{order.colli}}</td>
            <td>{{order.insuranceamount}}</td>
            <td>{{order.rembamount}}</td>
            <td>{{order.shipcode}} {{order.shipdetail}}</td>
            <td>{{order.trackno}}</td>
            <td>{{order.name}}</td>
            <td>{{order.address}} {{order.zipetc}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<button id="import" type="button" class="btn btn-success" {{action 'importOrders' imports}}>Import orders
</button>

<ul id="errors">
    {{#each errors as |error|}}
        <li>Error: {{{error}}}</li>
    {{/each}}
</ul>