<div class="col-md-3 col-md-push-3">
    {{fut-dataimport dropped="imported" lineDelim=lineDelim fieldDelim=fieldDelim onlySplitLines=true}}
</div>
<div class="col-md-12 row">
    <div class="col-md-2">
        <button type="button" class="btn btn-sm btn-success" {{action 'processOrders' controller}}>Process</button>
        <button type="button" class="btn btn-sm btn-danger" {{action 'clear'}}>Clear</button>
    </div>
    <ul class="col-md-10 list-inline">
        <li><span class="badge">{{greenOrders}}</span> green orders</li>
        <li><span class="badge">{{redOrders}}</span> red orders</li>
        <li><span class="badge">{{blackOrders}}</span> black orders</li>
    </ul>
</div>
<table class="col-md-12 table table-striped table-bordered">
    <thead>
    <tr>
        <th>&nbsp;&nbsp;</th>
        <th>Ordernumber</th>
        <th>Customer</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Errors</th>
    </tr>
    </thead>
    <tbody id="lines">
    {{#each sortedOrders as |order|}}
        <tr class="{{if order.valid 'match' 'nomatch'}} {{if order.checkPayment 'noprocess'}}">
            <td>{{input type="checkbox" checked=order.process}}</td>
            <td><a href="{{bo1-url order.order type='order' host=bo1url}}" target="bo">{{order.order}}</a></td>
            <td>{{order.customerid}}</td>
            <td>{{order.date}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.description}}</td>
            <td>{{order.error}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>