{{fut-pagination data=pagination pageChanged="pageChanged"}}

<div class="buttons pull-left">
    <button id="accept" class="btn btn-xs btn-success" title="This will approve the order" {{action 'accept'}}>
        <i class="fa fa-thumbs-up"></i> Approve
    </button>

    <button id="modify" class="btn btn-xs btn-warning"
            title="This will approve the order, but will set it to OUR order amount" {{action 'modify'}}>
        <i class="fa fa-pencil"></i> Modify
    </button>
    <span class="modifyPopOverContainer"></span>

    <button id="reject" class="btn btn-xs btn-danger" title="This will reject the order" {{action 'reject'}}>
        <i class="fa fa-thumbs-down"></i> Reject
    </button>
    <span class="rejectPopOverContainer"></span>
</div>
<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th><input type="checkbox" {{action "selectAll"}} title="select all">&nbsp;Date</th>
        <th>Ordernumber</th>
        <th>Order Amount</th>
        <th>Our Order Amount</th>
        <th>Our Order Status</th>
        <th>Transactionstatus</th>
        <th>Affiliatesite</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each model as |order|}}
            <tr>
                <td>
                    {{input type='checkbox' checked=order.selected}}
                    <span class="{{order.label}}" style="display:inline-block;min-width:0.6em">&nbsp;</span>
                    <label for="check{{order.id}}" style="font-weight: normal">{{order.regDate}}</label>
                </td>
                <td>
                    <a href="{{bo1-url order.received.characteristic}}" id="ordernumber"
                       target="backoffice">{{order.received.characteristic}}</a>
                </td>
                <td>{{order.received.orderAmount}}</td>
                <td>{{order.ourData.total}}</td>
                <td>{{order.statusText}}</td>
                <td>{{order.received.transactionStatus}}</td>
                <td>
                    {{#with order.received.affiliateSite as |site|}}
                        <a href="{{site.URL}}">{{site.name}}</a>
                    {{/with}}
                </td>
            </tr>
    {{/each}}
    </tbody>
</table>