<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" {{action 'add'}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>Category</th>
            <th>Expertise</th>
            <th>Subject</th>
            <th>Content</th>
            <th>Enabled</th>
            {{!--<th>Image</th>--}}
            <th>Updated</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        {{#with item.model as article}}
            <tr>
                <td style="min-width: 40px;">
                    <a target="cmspreview" href="{{fo2url article.category_id type='category'}}">
                        <i class="glyphicon glyphicon-globe" title="Open category"></i>
                    </a>
                    {{partial "editing"}}
                </td>
                <td>
                    <label for="category" class="sr-only">Category</label>
                    {{input value=article.category_id class="editable input" disabled=item.notediting}}

                    {{!--{{select category_id id="category" collection=foMenuMap idfield='frontoffice_menu_id' default='Choose...' class='editable'}}--}}
                </td>
                <td>
                    {{input type="checkbox" class="editable" checked=article.expertise}}
                </td>
                <td>
                    {{input value=article.subject class="editable input" disabled=item.notediting}}
                </td>
                <td {{action 'showModal' 'popupHtml' article 'content' on='doubleClick'}}>
                    <div class="editable input largeText wrapText" style="min-height:1.8em; max-height:4em; max-width: 300px">
                        {{striptags article.content}}
                    </div>
                </td>
                <td>
                    {{input type="checkbox" class="editable input" checked=article.enabled disabled=item.notediting}}
                </td>
                {{!--<td>--}}
                    {{!--{{input class="editable input" value=article.image disabled=item.notediting}}--}}
                {{!--</td>--}}
                <td>
                    {{input type="datetime" class="editable input" value=article.updated disabled=item.notediting}}
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>