<div class="row">
    <div class="col-md-6 uploadDiv">
        <div class="well imageDropbox">Drop images here</div>
    </div>
    <div class="col-md-4">
        <p><button {{action "doUpload" model}} class="btn btn-primary fa fa-upload">Upload</button></p>
        <p><button {{action "refresh"}} class="btn btn-warning fa fa-refresh">Clear</button></p>
    </div>
</div>
<table class="col-md-12 table table-striped table-condensed">
    <thead>
        <tr>
            <th><label><input type="checkbox" {{action "selectAll" }}> Select all</label></th>
            <th>Filename</th>
            <th>Prodlevid</th>
            <th>Action</th>
            <th>Existing images</th>
        </tr>
    </thead>
    <tbody id="imagesToUpload">
        {{#each item in controller}}
            {{#with item as upload}}
                <tr>
                    <td>
                        <dl>
                            <dt>{{input type='checkbox' checked=upload.selected disabled=upload.invalid}}</dt>
                            <dt>
                                <img src="{{upload.RawData.Image}}" style="max-height: 80px">
                            </dt>
                            <dt>
                                Use for all variations
                                {{input type='checkbox' checked=upload.allVariations disabled=upload.invalid}}
                            </dt>
                        </dl>
                    </td>
                    <td>
                        <dl>
                            <dt>Filename:</dt>
                            <dd>{{upload.filename}}</dd>
                            <dt>Filesize:</dt>
                            <dd>{{upload.file.size}}</dd>
                        </dl>
                    </td>
                    <td>
                        {{#if upload.invalid}}
                            <div class="alert alert-danger">This is not a valid product</div>
                        {{else}}
                            {{upload.prodlevid}}
                        {{/if}}
                        {{#if upload.error}}
                            <div class="alert alert-danger">{{upload.error}}</div>
                        {{/if}}
                    </td>
                    <td>{{upload.action}}</td>
                    <td>
                        <ul class="list-group">
                            {{#each image in upload.images}}
                                <li class="list-group-item {{if upload.notExtraButHasMain 'list-group-item-danger'}}">
                                    <img src="{{fo2url image.urls.thumb}}" style="max-height: 30px;">
                                    {{image.filename}}<br>
                                    {{imagesituation}}<br>
                                </li>
                            {{/each}}
                        </ul>
                    </td>
                </tr>
            {{/with}}
        {{/each}}
    </tbody>
</table>
