<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <button class="btn btn-xs btn-success" id="AddButton" {{action "addKeywordSale"}}>
                    <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
                </button>
            </th>
            <th>Keyword</th>
            <th>Image (150x150)</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController='editable'}}
        {{#with item.model as keyword}}
        <tr>
            <td style="min-width: 40px;">
                {{partial 'editing'}}
                {{#if editing}}
                    <a id="delete" {{action "deleteKeyword" keyword}}><i class="glyphicon glyphicon-remove"></i></a>
                {{/if}}
            </td>
            <td>
                {{input value=keyword.keyword class="editable" disabled=item.notediting}}
            </td>
            <td class="editable well">
                {{banner-upload banner=keyword.image uploadImage=keyword.uploadImage path="img/cmsdata/sale"}}
            </td>
        </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>