<div>
    {{#if searchedForCode}}
        {{#if hasFoundCode}}
            Code is: <strong>{{if isUsed 'used' 'not used'}}</strong>
        {{else}}
            Code is not found
        {{/if}}
    {{else}}
        <small class="pull-left">Check Code:</small>
        <br>
    {{/if}}
</div>
<div class="form form-inline">
    <div class="form-group has-feedback {{if foundCode.notFound 'has-error'}} {{if hasFoundCode 'has-success'}}">
        {{fut-input value=couponcode name="code" action="check" on="enter" }}

        {{#if isLoadingCode}}
            <span class="fa fa-spinner fa-pulse form-control-feedback" aria-hidden="true"></span>
        {{/if}}
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-sm" {{action 'check' couponcode}}><i class="fa fa-search"></i> Check</button>
    </div>
    <div class="form-group">
        <button class="btn btn-warning btn-sm" {{action 'invalidate' foundCode}} disabled={{noFoundCode}}><i class="fa fa-gift"></i> Invalidate</button>
    </div>
</div>