{{#fut-modal title='Generate codes' ok='save' close='removeModal' hideCloseButton=true}}
    <form {{action 'ok' on='submit' target=view}}>
        <table class="table">
            <thead>
            <tr>
                <th>
                    <button type="button" id="add" class="btn btn-xs btn-success" {{action 'addRule' model}}>
                        <i class="fa fa-plus-circle">&nbsp;Add</i>
                    </button>
                </th>
                <th>Type</th>
                <th>Value</th>
                <th>Arguments</th>
            </tr>
            </thead>
            <tbody>
                {{#each model.coupon_rule as |rule|}}
                    <tr>
                        <td style="white-space: nowrap">
                            <button class="btn btn-xs btn-danger" {{action 'deleteRule' model rule}}>
                                <i class="fa fa-minus-circle"></i>&nbsp;Delete
                            </button>
                        </td>
                        <td>
                            {{fut-choice
                            value=rule.coupon_rule_type
                            content=rule.couponRuleTypes
                            optionValuePath='value'
                            optionLabelPath='label'}}
                        </td>
                        <td>
                            {{input value=rule.value class="form-control"}}
                        </td>
                        <td>
                            {{#if rule.hasArguments}}
                                {{#if rule.isSelectableArgument}}
                                    {{fut-choice
                                    value=rule.optional_arguments
                                    content=rule.selectOptions
                                    optionValuePath='value'
                                    optionLabelPath='label'
                                    prompt='Choose value type'}}
                                {{else}}
                                    <span>{{rule.inputLabel}}</span>
                                {{/if}}
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </form>
{{/fut-modal}}