<div class="col-md-6">
    <form role="form">
        <fieldset class="panel panel-primary">
            <div class="panel-heading"><i class="fa fa-gift"></i> Coupon</div>
            <div class="panel-body">
                <div class="form-group">
                    {{fut-input model=model field="name" editing=true label="Name"}}
                    <span class="help-block">This name will be shown in the order in the backoffice.</span>
                </div>
                <div class="form-group">
                    {{fut-input model=model field="description" editing=true label="Description"}}
                </div>
                <div class="form-group">
                    {{fut-input model=model field="active_start_date" editing=true label="Active from"}}
                    <span class="help-block">From what moment should this coupon be active (format: <i>yyyy-mm-dd hh:mm:ss</i>)</span>
                </div>
                <div class="form-group">
                    {{fut-input model=model field="active_end_date" editing=true label="Active until"}}
                    <span class="help-block">Until what moment should this coupon be active (format: <i>yyyy-mm-dd hh:mm:ss</i>)</span>
                </div>
                <div class="form-group">
                    {{fut-check checked=model.active enabled=true label="Active"}}
                </div>
                <div class="form-group">
                    {{fut-input type="number" value=model.max_usage_count editing=true label="Max Usage Count"}}
                    <span class="help-block">This limits the usage of the <strong>entire</strong> campaign. Even if you create more <i>multiple
                        codes</i>.</span>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="col-md-6">
    <div class="panel panel-primary">
        <div class="panel-heading"><i class="fa fa-sliders"></i> Rules</div>
        <table class="table table-striped table-hover table-condensed">
            <thead>
            <tr>
                <th>
                    <button type="button" class="btn btn-xs btn-success" {{action 'addRule' model}}>
                        <i class="fa fa-plus-circle"> Add</i>
                    </button>
                </th>
                <th>Type</th>
                <th>Value</th>
                <th>Arguments</th>
            </tr>
            </thead>
            <tbody>
            {{#each model.coupon_rule as |rule|}}
                <tr>
                    <td style="white-space: nowrap">
                        <button class="btn btn-xs btn-danger" {{action 'deleteRule' model rule}}>
                            <i class="fa fa-minus-circle"></i> Delete
                        </button>
                    </td>
                    <td>
                        {{fut-choice
                        value=rule.coupon_rule_type
                        content=rule.couponRuleTypes
                        optionValuePath='value'
                        optionLabelPath='label'}}
                    </td>
                    <td>
                        {{#unless rule.hasButtons}}
                            {{fut-input value=rule.value}}
                        {{/unless}}
                    </td>
                    <td>
                        {{#if rule.hasArguments}}
                            {{#if rule.isSelectableArgument}}
                                {{fut-choice
                                value=rule.optional_arguments
                                content=rule.selectOptions
                                optionValuePath='value'
                                optionLabelPath='label'
                                prompt='Choose value type'}}
                            {{else}}
                                {{#if rule.isInputArgument}}
                                    {{fut-input model=rule field='optional_arguments' placeholder=rule.inputLabel}}
                                {{else}}
                                    <span>{{rule.inputLabel}}</span>

                                    {{#if rule.hasButtons}}
                                        <div>
                                            <button class="btn btn-xs btn-success" {{action 'showModal' 'product/discount/generate-codes' rule}}>
                                                <i class="icon-plus-sign"></i> Generate codes
                                            </button>
                                            <a href="/api/v3/coupons/{{model.id}}/codes" target="_blank"
                                               class="btn btn-xs btn-success"><i class="fa fa-cloud-download"></i>
                                                Download codes</a>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>