{{#fut-modal title='Generate codes' ok='save' close='removeModal' hideCloseButton=true}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label for="prefix">Prefix</label>
            {{fut-input value=model.optional_arguments.prefix name="prefix"}}
        </div>
        <div class="form-group">
            <label for="length">Amount of characters</label>
            {{fut-input type="number" value=model.optional_arguments.codelength name="length" min=1 max=15}}
        </div>
        <div class="form-group">
            <label for="postfix">Postfix</label>
            {{fut-input value=model.optional_arguments.postfix name="postfix"}}
        </div>
        <div class="form-group">
            <label for="amount">Amount of codes</label>
            {{fut-input type="number" value=model.optional_arguments.amount name="amount" min=0}}
        </div>

        <span>Example: {{example}}</span>
    </form>
{{/fut-modal}}