<div class="col-xs-6">
    {{fut-pagination data=pagination pageChanged="pageChanged"}}
</div>
<div class="col-xs-6">
    {{partial 'product/discount/couponcode'}}
</div>
<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" {{action 'add'}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>
                Name
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='name' title='Name'}}
            </th>
            <th>Description</th>
            <th>Active from</th>
            <th>Active until</th>
            <th>Active</th>
            <th>Claimed</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |coupon|}}
            <tr>
                <td>
                    {{#link-to 'product.discount.edit' coupon title="Edit coupon"}}<i class="fa fa-edit"></i>{{/link-to}}
                </td>
                <td>{{coupon.name}}</td>
                <td>{{coupon.description}}</td>
                <td>{{coupon.active_start_date}}</td>
                <td>{{coupon.active_end_date}}</td>
                <td>{{fut-check checked=coupon.active enabled=false}}</td>
                <td>
                    {{#if coupon.hasMultipleCodes}}
                        <div>
                            <div>
                                <small>Codes used: {{coupon.UsedCodeCount}}</small>
                            </div>
                            <div>
                                <small>Codes left: {{coupon.UnusedCodeCount}}</small>
                            </div>
                        </div>
                    {{else}}
                        {{coupon.claimed}}
                    {{/if}}
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>