<header class="clearfix">
    <h3 class="col-xs-6 pull-left editview">New Coupon</h3>

    <div class="col-xs-6 pull-right" style="text-align: right">
        <button class="btn btn-sm btn-danger" {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
        <button class="btn btn-sm btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
    </div>
</header>
{{partial 'product/discount/form'}}