<tr>
    <td>{{rule.type}}</td>
    <td>{{rule.value}}</td>
    <td>
        {{#unless rule.hasButtons}}
            <span id="optionalArguments">{{rule.optional_arguments}}</span>
        {{/unless}}

        <div id="buttons">
            {{#if rule.hasButtons}}
                <button class="btn btn-xs btn-success"
                        disabled={{notediting}} {{action 'showModal' 'product/discount/generate-codes' rule}}>
                    <i class="icon-plus-sign"></i>&nbsp;Generate codes
                </button>
                <button class="btn btn-xs btn-success" {{action 'downloadCodes' discount rule}}>
                    <i class="icon-plus-sign"></i>&nbsp;Download codes
                </button>
            {{/if}}
        </div>
    </td>
</tr>