<div id="breadcrumbs" class="col-xs-9"></div>
<div class="col-xs-3">
    {{fut-dataimport dropped="imported" lineDelim=lineDelim fieldDelim=fieldDelim onlySplitLines=false}}
</div>
{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th colspan="2">
                <button class="btn btn-xs btn-success" {{action 'addMaterial'}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>
                ProdLevId {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='prodlevid' title='ProdLevId'}}
            </th>
            <th>Part</th>
            <th>Description</th>
            <th>Material</th>
            <th>Percentage</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |material|}}
            {{#fut-editablerow model=material save="save" delete="deleteMaterial" nostyle=true as |editing|}}
                <td>
                    {{fut-previewlink value=material.prodlevid}}
                </td>
                <td>{{fut-input value=material.prodlevid editing=editing}}</td>
                <td>{{fut-input value=material.part editing=editing}}</td>
                <td>{{fut-input value=material.description editing=editing}}</td>
                <td>{{fut-input value=material.material editing=editing}}</td>
                <td>{{fut-input value=material.percentage editing=editing}}</td>
            {{/fut-editablerow}}
        {{/each}}
    </tbody>
</table>