{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="min-width: 45px;">&nbsp;</th>
            <th>
                Supplier ID
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='id' title='Supplier ID'}}
            </th>
            <th>
                Name
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='name' title='Supplier Name'}}
            </th>
            <th>Discount (%)</th>
            <th>Bonus (%)</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
    {{#each model as |model|}}
        {{#fut-editablerow model=model save="save" delete="deleteSupplier" as |editing|}}
            <td>{{fut-input value=model.id editing=editing}}</td>
            <td>{{fut-input value=model.name editing=editing}}</td>
            <td>{{fut-input value=model.discount editing=editing}}</td>
            <td>{{fut-input value=model.bonus editing=editing}}</td>
            <td>{{fut-input value=model.comment editing=editing}}</td>
        {{/fut-editablerow}}
    {{/each}}
    </tbody>
</table>

