<i class="fa fa-search" {{action "toggleFilter"}}></i>
{{#if filterOpen}}
    {{#bootstrap-popover title=title as |popover|}}
        <form class="form form-filter">
            <div class="col-xs-12 form-group">
                {{view "select" content=selectvalues value=filtervalue optionValuePath="content.value" optionLabelPath="content.label" class="col-xs-12"}}
            </div>
            <div class="col-xs-12 form-group">
                <button class="btn btn-success btn-sm" {{action "filter" popover}}>
                    <i class="fa fa-filter"></i> Filter
                </button>
                {{#if hasValue}}
                    <button class="btn btn-sm btn-warning" {{action "clear" popover}}>
                        <i class="fa fa-trash"></i> Clear
                    </button>
                {{/if}}
                <button class="btn btn-sm btn-danger" {{action "close" target=popover}}>
                    <i class="fa fa-ban"></i> Close
                </button>
            </div>
        </form>
    {{/bootstrap-popover}}
{{/if}}