<p>&nbsp;</p>
<p>
    <button class="btn btn-primary btn-xs" {{action "weekbefore"}}>
        <i class="fa fa-arrow-circle-left"></i> One week earlier
    </button>
    <button class="btn btn-primary btn-xs" {{action "daybefore"}}>
        <i class="fa fa-arrow-circle-left"></i> One day earlier
    </button>
    <button class="btn btn-success btn-xs" {{action "today"}}>Today</button>
    <button class="btn btn-primary btn-xs" {{action "dayafter"}}>One day later
        <i class="fa fa-arrow-circle-right"></i>
    </button>
    <button class="btn btn-primary btn-xs" {{action "weekafter"}}>
        One week later <i class="fa fa-arrow-circle-right"></i>
    </button>
</p>
{{yield}}