<div class="col-xs-12">
    <div class="form-group col-xs-10 col-md-8">
        <div>
            <label for="statuses">Statuses:</label>
            <button class="btn btn-primary btn-xs pull-right" {{action 'allstatuses'}}>All statuses</button>
        </div>
        {{select-2
        content=statuses
        value=model.status
        optionValuePath="id"
        optionLabelPath="description"
        optionDescriptionPath="id"
        placeholder="Choose your statuses"
        multiple=true class="form-control statusfilter"}}
    </div>
    <div class="col-xs-2 col-md-4">
        <p>
            <button class="btn btn-primary btn-xs" {{action 'sameasbo1'}}>Same as BO1</button>
        </p>
        <p>
            <button class="btn btn-primary btn-xs" {{action 'statuscancelled'}}>Cancelled</button>
        </p>
        <p>
            <button class="btn btn-primary btn-xs" {{action 'statuscomplete'}}>Complete</button>
        </p>
    </div>

    <div class="col-xs-5">
        <label for="includeDE">
            {{input type="checkbox" checked=model.includeDE}} Include DE
        </label>
    </div>

    <div class="col-xs-7">
        <label for="includeNazend">
            {{input type="checkbox" checked=model.includeNazend}} Include Nazend
        </label>
    </div>

    <div class="col-xs-12">
        <label for="onlyBundleOrders">
            {{input type="checkbox" checked=model.onlyBundleOrders}} Only bundle orders
        </label>
    </div>
</div>

<div class="col-xs-12 form-group">
    <div class="col-xs-12">
        <label for="vendors">Vendors:</label>
        <button class="btn btn-primary btn-xs pull-right" {{action "clearvendor"}}>All vendors</button>
    </div>
    <div class="col-xs-12">
        {{select-2
        content=vendors
        value=model.vendorFilter
        optionValuePath="name"
        optionLabelPath="name"
        placeholder="Choose your vendors"
        multiple=true class="form-control"}}
    </div>
</div>

<div class="col-xs-12 form-group">
    <div class="col-xs-12">
        <label for="vendors">Countries:</label>
    </div>
    <div class="col-xs-12">
        {{#x-select value=model.countries multiple=true class="form-control"}}
            <option>All countries</option>
            {{#each availableCountries as |country|}}
                {{#x-option value=country}}{{country}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
</div>

<div class="col-xs-12 form-group">
    <div class="col-xs-12">
        <label for="vendors">PaymentMethods:</label>
    </div>
    <div class="col-xs-12">
        {{#x-select value=model.paymentmethods multiple=true class="form-control"}}
            <option>All Paymentmethods</option>
            {{#each availablePaymentmethods as |pm|}}
                {{#x-option value=pm}}{{pm}}{{/x-option}}
            {{/each}}
        {{/x-select}}
    </div>
</div>

{{#if model.hasCats}}
    <div class="col-xs-12 form-group">
        <div class="col-xs-12">
            <label for="cats">Cats:</label>
            <button class="btn btn-primary btn-xs pull-right" {{action "clearcats"}}>All cats</button>
        </div>
        <div class="col-xs-12">
            <select name="cats" id="cats" multiple style="width: 100%;min-height: 200px;"></select>
        </div>
    </div>
{{/if}}