{{#fut-modal title='Generate codes' ok='save' close='removeModal' hideCloseButton=true}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label for="prefix">Prefix</label>
            {{input value=model.optional_arguments.prefix name="prefix" class="form-control"}}
        </div>
        <div class="form-group">
            <label for="length">Amount of characters</label>
            {{input type="number" value=model.optional_arguments.length name="length" class="form-control" min=0}}
        </div>
        <div class="form-group">
            <label for="postfix">Postfix</label>
            {{input value=model.optional_arguments.postfix name="postfix" class="form-control"}}
        </div>
        <div class="form-group">
            <label for="amount">Amount of codes</label>
            {{input type="number" value=model.optional_arguments.amount name="amount" class="form-control" min=0}}
        </div>

        <span id="showExample"></span>
    </form>
{{/fut-modal}}