<table class="table table-striped table-hover table-condensed" id="discount-container">
    <thead>
    <tr>
        <th style="white-space: nowrap">
            <button class="btn btn-xs btn-success" id="AddButton">
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
            </button>
        </th>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Active from</th>
        <th>Active until</th>
        <th>Active</th>
        <th>Max Usage Count</th>
        <th>Claimed</th>
        <th>Rules</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        {{#with item.model as discount}}
            <tr>
                <td style="min-width: 40px;">{{partial "editing"}}</td>
                <td id="id">{{discount.id}}</td>
                <td>
                    {{input value=discount.name class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=discount.description class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=discount.active_start_date class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=discount.active_end_date class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input type="checkbox" checked=discount.active class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input type="number" value=discount.max_usage_count class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{#if discount.hasMultipleCodes}}
                        <div>
                            <div><small>Codes used: {{discount.UsedCodeCount}}</small></div>
                            <div><small>Codes left: {{discount.UnusedCodeCount}}</small></div>
                        </div>
                    {{else}}
                        {{discount.claimed}}
                    {{/if}}
                </td>
                <td>
                    <button class="btn btn-xs btn-success" id="RuleButton" disabled={{item.notediting}} {{action 'showModal' 'discount/edit-rules-popup' discount}}>
                        <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Edit
                    </button>
                </td>
                <td id="rules">
                    <table>
                        <thead>
                        <tr>
                            <th>Type</th><th>Value</th><th>Arguments</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{#each rule in discount.coupon_rule}}
                                {{partial "discount/rule"}}
                            {{/each}}
                        </tbody>
                    </table>
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>