<header><h3>Procurement advice</h3></header>
<button class="btn btn-success" id="createorder"><i class="fa fa-mail-reply fa-flip-horizontal"></i> Make draft</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" id="selectAll" title="Select All"> ProdLevId</th>
            <th>Supplier code</th>
            <th>Product</th>
            <th>Advice</th>

            <th>Free stock</th>
            <th>PR</th>
            <th>Supplier</th>
            <th data-name="pprice">
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
                <span>Price</span>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>