<header><h3>Procurement advices</h3></header>

<button class="btn btn-success" id="createorder" {{action "createDrafts"}}>
    <i class="fa fa-mail-reply-all fa-flip-horizontal"></i> Make drafts
</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" {{action "selectAll"}}> Supplier</th>
            <th>Number of products</th>
            <th>Total price</th>
        </tr>
    </thead>
    <tbody>
    {{#each advice in model}}
    <tr>
        <td>
            {{input type='checkbox' checked=advice.selected}}
            {{#link-to 'procurement.advice' advice class="vendoradvice"}}{{advice.supplier.name}}{{/link-to}}
        </td>
        <td>{{advice.productcount}}</td>
        <td>{{advice.pprice}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>