<form role="form">
    <fieldset class="panel panel-info">
        <div class="panel-heading">Bundle info</div>
        <div class="panel-body">
            <div class="form-group col-md-6">
                {{fut-input id="name" model=model field='name' label="Name"}}
                <span class="help-block">The name of the bundle.</span>
            </div>
            <div class="form-group col-md-6">
                <label class="col-md-12">Discount</label>
                <div class="col-md-6">
                    {{fut-input model=model field='discount'}}
                </div>
                <div class="col-md-6">
                    {{fut-choice model=model field="discountType" content=discountTypes}}
                </div>
                <span class="col-md-12 help-block">This is the discount for the bundle.</span>
            </div>
            <div class="form-group form-inline col-md-6">
                <div class="form-group col-md-6">
                    <label>Visible in search</label>
                    {{fut-check checked=model.visibleInSearch enabled=true}}
                </div>
                <div class="form-group col-md-6">
                    <label>Enabled</label>
                    {{fut-check checked=model.enabled enabled=true}}
                </div>
            </div>
            <div class="form-group col-md-6">
                <div class="col-md-6 form-group">
                    {{fut-input model=model field="startDate" placeholder="dd-mm-YYYY H:i" label="Start date"}}
                </div>
                <div class="col-md-6 form-group">
                    {{fut-input model=model field="endDate" placeholder="dd-mm-YYYY H:i" label="End date"}}
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-success btn-xs" {{action 'addRule' model}}>
                <i class="fa fa-plus"></i> Add
            </button>
            Bundle rules
        </div>
        <table class="table panel-body">
            <thead>
                <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Vendor</th>
                    <th>FO2 category</th>
                    <th>Exclude</th>
                </tr>
            </thead>
            <tbody data-relation="rules">
                {{#each model.rules as |rule|}}
                    <tr>
                        <td>
                            <button class="btn btn-xs btn-danger" {{action 'deleteRule' model rule}}>
                                <i class="fa fa-minus-circle"></i>&nbsp;Delete
                            </button>
                        </td>
                        <td>{{fut-input model=rule field="prodlevid" class="pastable" name="prodlevid"}}</td>
                        <td>{{select-2
                                content=vendors
                                value=rule.vendor
                                optionValuePath='name'
                                optionLabelPath='name'
                                optionDescriptionPath='foo'
                                placeholder='Choose vendor'
                                class='form-control'
                            }}
                        </td>
                        <td>
                            {{select-2
                                content=categories
                                value=rule.frontoffice_menu_id
                                optionValuePath='id'
                                optionLabelPath='name'
                                optionHeadlinePath='name'
                                optionDescriptionPath='foo'
                                placeholder='Choose your category'
                                class='form-control'
                            }}
                        </td>
                        <td>{{fut-check checked=rule.exclude enabled=true}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </fieldset>
    <fieldset class="panel panel-default">
        <div class="panel-heading">
            <button class="btn btn-success btn-xs" {{action 'addProduct' model}}>
                <i class="fa fa-plus"></i> Add
            </button>
            Bundled products
        </div>
        <table class="table panel-body">
            <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody data-relation="bundledproducts">
            {{#each model.bundledproducts as |product|}}
                <tr>
                    <td>
                        <button class="btn btn-xs btn-danger" {{action 'deleteProduct' model product}}>
                            <i class="fa fa-minus-circle"></i>&nbsp;Delete
                        </button>
                    </td>
                    <td>{{fut-input model=product field="prodlevid" name="prodlevid" class="pastable"}}</td>
                    <td>{{fut-input type="number" model=product field="qty" min="1"}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </fieldset>
</form>
<hr>
<div class="pull-right">
    <button class="btn btn-danger"  {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
</div>