{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover" id="bundles">
    <thead>
    <tr>
        <th>
            <button type="button" {{action 'add'}} class="btn btn-xs btn-success">
                <i class="fa fa-plus-circle"></i> Add
            </button>
            Name
        </th>
        <th>Discount</th>
        <th>{{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='visibleInSearch' title='Visible In Search'}} Visible in search</th>
        <th>{{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='enabled' title='Enabled'}} Enabled</th>
        <th>Start date</th>
        <th>End date</th>
    </tr>
    </thead>
    <tbody>
    {{#each model as |bundle|}}
        <tr>
            <td>
                <a href="" {{action 'remove' bundle}}>{{fa-icon 'times'}}</a>
                {{#link-to 'product.bundles.edit' bundle._id}}{{bundle.name}}{{/link-to}}
            </td>
            <td>{{bundle.discount}} {{bundle.discountType}}</td>
            <td>{{fut-check checked=bundle.visibleInSearch}}</td>
            <td>{{fut-check checked=bundle.enabled}}</td>
            <td>{{bundle.startDate}}</td>
            <td>{{bundle.endDate}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>