<div class="col-xs-6 col-md-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th {{action "sortBy" "name"}} style="cursor: pointer;"><i class="fa fa-arrows-v"></i> Vendor</th>
                <th {{action "sortBy" "amount"}} style="cursor: pointer;"><i class="fa fa-arrows-v"></i> Bundle amount</th>
            </tr>
        </thead>
        <tbody>
            {{#each sortedList as |item|}}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="col-xs-6 col-md-6">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th {{action "sortBy" "name"}} style="cursor: pointer;">Bundle Name</th>
            <th {{action "sortBy" "amount"}} style="cursor: pointer;"># of orders</th>
        </tr>
        </thead>
        <tbody>
        {{#each popularBundles as |item|}}
            <tr>
                <td>{{#link-to 'product.bundles.edit' item._id}}<i class="fa fa-eye"></i>{{/link-to}} {{item.name}}</td>
                <td>{{item.count}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>