<div class="col-md-6">
    <label>Period:</label><br>
    {{date-range-picker
        start=model.from
        end=model.to
        ranges=model.timeSetter.ranges
        showDropDowns=true
        showWeekNumbers=false
        timePicker=true
        timePicker24Hour=true
        removeDropdownOnDestroy=true
        minDate="01-01-1990"
        cancelClass="btn-danger"
        format='D MMM YYYY HH:mm:ss'
        opens='right'
        applyAction='timePicked'
        serverFormat='MM/DD/YYYY HH:mm:ss'
    }}
</div>
<div class="col-md-6">
    {{statistics/daterange-filter model=model}}
</div>
<div class="col-md-12">
    <div class="input-group">
        {{input value=searchQuery class="form-control" enter='search' placeholder="Additional search query"}}
        <div class="input-group-btn">
            <button class="btn btn-success" {{action 'search' searchQuery}}><i class="fa fa-search"></i> Search</button>
            {{#if searchQuery}}
                <button class="btn btn-warning" {{action 'clearSearch'}}><i class="fa fa-history"></i> Clear</button>
            {{/if}}
        </div>
    </div>
</div>
<div class="clearfix"></div>