{{#fut-sidebar model=model}}
    {{statistics/filter-sidebar model=model}}
{{/fut-sidebar}}

<div class="col-xs-12 form">
    {{partial 'statistics/filter'}}
</div>

<div class="col-xs-12">
    <ul class="panel-statistics">
        <li>
            <span># of Orders:</span>
            <strong class="value">{{model.totalOrders}}</strong>
        </li>
        <li>
            <span>average marge:</span>
            <strong class="valuta">{{fut-money model.averageOrderMarge}}</strong>
        </li>
        <li>
            <span>average revenue:</span>
            <strong class="valuta">{{fut-money model.averageOrderAmount}}</strong>
        </li>
        <li>
            <span>total revenue:</span>
            <strong class="valuta">{{fut-money model.totalOrderAmount}}</strong>
        </li>
    </ul>
</div>

{{fut-chart-line title="Revenue" data=model domains=domain interval=model.interval class="col-xs-12 chartContainer"}}

{{fut-chart-bar data=model.deliverymethods title="Deliverymethods" class="col-sm-6 chartContainer"}}

{{fut-chart-bar data=model.vendors title="Vendors" class="col-sm-6 chartContainer"}}

<div class="col-xs-12">
    <ul class="panel-statistics">
        <li>
            <span>average discount:</span>
            <strong class="valuta">{{fut-money model.averageDiscount}}</strong>
        </li>
        <li>
            <span>Bundles ordered:</span>
            <strong class="value">{{model.bundlesOrdered}}</strong>
        </li>
        <li>
            <span>total discount:</span>
            <strong class="valuta">{{fut-money model.totalDiscount}}</strong>
        </li>
        <li>
            <span>total bundle discount:</span>
            <strong class="valuta">{{fut-money model.totalBundleDiscount}}</strong>
        </li>
    </ul>
</div>

{{fut-chart-bar data=model.products title="Products" class="col-xs-12 chartContainer"}}

{{fut-chart-bar data=model.couponCampaigns labels=coupons title="Coupon Campaigns" class="col-sm-6 chartContainer"}}
