<tr>
    <td>{{product.key}}</td>
    <td>{{product.vendor.buckets.0.key}}</td>
    <td>
        {{#each product.names.buckets as |name|}}
            <div>{{name.key}}</div>
        {{/each}}
    </td>
    <td>{{fut-money product.pprice.value}}</td>
    <td>{{fut-money product.marge.avg}}
        <small>({{product.percentMarge}}%)</small>
    </td>
    <td>{{fut-money product.euprice.value}}</td>
    <td>{{product.doc_count}}</td>

    <td>{{product.quant.sum}}
        <small> ({{product.avgQuantity}})</small>
    </td>
    <td>{{fut-money product.revenue.sum}}
        <small>({{fut-money product.revenue.avg}})</small>
    </td>
</tr>