{{#fut-sidebar model=model}}
    {{statistics/filter-sidebar model=model}}
{{/fut-sidebar}}

<div class="col-xs-12 form" id="filterView">
    {{partial 'statistics/filter'}}
</div>

<div class="clearfix"></div>
<div id="productlist" class="listContainer">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ProdLevId</th>
                <th>Vendor</th>
                <th>Product</th>

                <th>Avg Purchase Price</th>
                <th>Avg Marge</th>
                <th>Avg Selling Price</th>
                <th># orderlines</th>
                <th>Quantity
                    <small>(avg)</small>
                </th>
                <th>Revenue
                    <small>(avg)</small>
                </th>
            </tr>
            <tr>
                {{#with model.total as |total|}}
                    <th>{{total.key}}</th>
                    <th>{{total.vendor.buckets.0.key}}</th>
                    <th>
                        {{#each total.names.buckets as |name|}}
                            <div>{{name.key}}</div>
                        {{/each}}
                    </th>
                    <th>{{fut-money total.pprice.value}}</th>
                    <th>{{fut-money total.marge.avg}}
                        <small>({{total.percentMarge}}%)</small>
                    </th>
                    <th>{{fut-money total.euprice.value}}</th>
                    <th>{{total.doc_count}}</th>

                    <th>{{total.quant.sum}}
                        <small> ({{total.avgQuantity}})</small>
                    </th>
                    <th>{{fut-money total.revenue.sum}}
                        <small>({{fut-money total.revenue.avg}})</small>
                    </th>
                {{/with}}
            </tr>
        </thead>
        <tbody>
            {{#each model.products as |product|}}
                {{partial 'statistics/productitem'}}
            {{/each}}
        </tbody>
    </table>

</div>
