<h4 class="modal-title" align="center">
    Edit Product Question: {{model.id}} {{model.product.Vendor}} {{model.product.Name}}
    {{fut-previewlink value=model.prodlevid anchor='anchorReviews'}}
</h4>
<form class="col-xs-12 form">
    <span class="control-group"></span>

    <div class="control-group">
        <label for="question_input">Question</label>

        <div class="well col-xs-12">
            {{model.question}}
        </div>
    </div>
    <p class="control-group">
        {{fut-textarea model=model field="answer" label="Website Answer *" rows=5}}
    </p>

    <p class="control-group">
        <label for="answerer_input" id="answerer_label">Answerer</label>
        {{fut-input model=model field="answerer"}}
    </p>

    <div>
        <span class="control-group col-xs-4">
            {{fut-check checked=model.email_input label="Send email to customer?" enabled=true}}
        </span>
        <span class="control-group col-xs-4">
            {{fut-check checked=model.fo_answer label="Place on website?" enabled=true}}
        </span>
        <span class="control-group col-xs-4">
            {{fut-check checked=model.fo_remove_question label="Remove question from website?" enabled=true}}
        </span>
        {{#if model.email_input}}
            <div id="for_email">
                <p class="control-group">
                    {{fut-input size="10" model=model field="user_email" label="Email To *"}}
                </p>

                <p class="control-group">
                    {{fut-textarea model=model field="email_answer" cols="3" rows="4" style="height:initial;width:100%" label="Email Text"}}
                </p>
            </div>
        {{/if}}
    </div>
</form>

<div class="col-xs-12">
    <button class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-danger" {{action 'cancel'}}><i class="fa fa-close"></i> Cancel</button>
</div>

<div class="clearfix"></div>