{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="min-width: 65px;">&nbsp;</th>
        <th>
            Answered {{fut-listfilter-bool setFilter='filter' clearFilter='removefilter' field='is_answered' title='Answered'}}
        </th>
        <th>
            Vendor {{fut-listfilter-text setFilter='filter' clearFilter='removefilter' field='product.Vendor' title='Vendor'}}
        </th>
        <th>
            Question {{fut-listfilter-text setFilter='filter' clearFilter='removefilter' field='question' title='Question'}}
        </th>
        <th>
            Answer {{fut-listfilter-text setFilter='filter' clearFilter='removefilter' field='answer' title='Answer'}}
        </th>
        <th>Convert</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each model as |question|}}
        <tr>
            <td>
                {{#link-to 'product.productquestions.edit' question}}<i class="fa fa-pencil"></i>{{/link-to}}
                <a {{action 'deleteQuestion' question}}><i class="fa fa-times"></i></a>
                {{fut-previewlink value=question.prodlevid}}
            </td>
            <td>{{fut-check checked=question.is_answered}}</td>
            <td>{{question.product.Vendor}}</td>
            <td>{{str-truncate question.question 60 '...'}}</td>
            <td>{{str-truncate question.answer 20 '...'}}</td>
            <td>
                <button class="btn btn-xs btn-success" {{action 'convert' question}}>Convert</button>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
