<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-xs-1">
                <button {{action 'add'}} class="btn btn-success btn-xs">
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th class="col-xs-1">Id</th>
            <th class="col-xs-2">Category</th>
            <th class="col-xs-2">Question</th>
            <th class="col-xs-6">Answer</th>
        </tr>
    </thead>
    <tbody>
    {{#each item in controller itemController="editable"}}
        {{#with item.model as faq}}
            <tr>
                <td>
                    {{partial 'editing'}}

                    {{#if editing}}
                        <a id="delete"><i class="fa fa-times"></i></a>
                    {{/if}}
                </td>
                <td>
                    {{input type='number' value=faq.queue class="editable input form-control" disabled=item.notediting}}
                </td>
                <td>
                    {{view "select"
                    value=faq.category.title
                    content=controller.parentController.categories
                    optionValuePath="content.title"
                    optionLabelPath="content.title"
                    disabled=item.notediting}}
                </td>
                <td>
                    {{input value=faq.question class='editable input form-control' disabled=item.notediting}}
                </td>
                <td class="editable popup limitwidth" {{action 'showModal' 'popupHtml' faq 'answer' on='doubleClick'}}>
                    {{striptags faq.answer}}
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>