<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>
            <button id="add" class="btn btn-xs btn-success" {{action "addHighlight"}}>
                <i class="fa fa-plus-circle"></i>&nbsp; Add
            </button>
        </th>
        <th>ShowOn
            {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='ShowOn' title='Show on'}}
        </th>
        <th>Category
            {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='CategoryId' title='Category'}}
        </th>
        <th>Description</th>
        <th>Image</th>
        <th>Queue</th>
        <th>Url</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
        {{#each item in controller itemController="editable"}}
            {{#with item.model as highlight}}
                <tr>
                    <td style="min-width: 40px;">{{partial "editing"}}</td>
                    <td>{{input value=highlight.ShowOn class="editable" disabled=item.notediting}}</td>
                    <td>{{input value=highlight.CategoryId class="editable" disabled=item.notediting}}</td>
                    <td>{{input value=highlight.Description class="editable" disabled=item.notediting}}</td>
                    <td class="editable imageDropArea" data-field="Image">
                        {{banner-upload banner=highlight.Image uploadImage=highlight.uploadImage}}
                    </td>
                    <td>{{input value=highlight.Queue class="editable" disabled=item.notediting}}</td>
                    <td>{{input value=highlight.Url class="editable" disabled=item.notediting}}</td>
                </tr>
            {{/with}}
        {{/each}}
    </tbody>
</table>