<table class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th><button class="btn btn-success btn-xs" {{action 'addProduct'}}>Add</button></th>
        <th>ProdLevId</th>
        <th>Vendor</th>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody style="width: 100%">
    {{#each model as |product|}}
        {{#fut-editablerow model=product save="save" delete="deleteProduct" as |editing notediting|}}
            <td>
                {{fut-input model=product value=product.prodlevid editing=editing enter="findProduct"}}
            </td>
            <td>
                {{fut-input model=product value=product.vendor editing=editing}}
            </td>
            <td>
                {{fut-input model=product value=product.name editing=editing}}
            </td>
            <td>
                {{#if product.hasImage}}
                    <img src="{{product.mainImage}}" style="max-height: 2.5em">
                {{/if}}
            </td>
            <td>
                {{fut-input model=product value=product.euprice editing=editing}}
            </td>
            <td>
                {{fut-input model=product value=product.description editing=editing}}
            </td>
        {{/fut-editablerow}}
    {{/each}}
    </tbody>
</table>