<div class="row-fluid">
    <div class="col-xs-4">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Status</header>
            </div>
            <table class="table">
                <tr class="tr">
                    <td>{{model.Ordernumber}}</td>
                    <td>{{model.Statusdescription}} ({{model.Status}})</td>
                </tr>
            </table>
        </section>
    </div>
    <div class="col-xs-4">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Bank Account Information</header>
            </div>
            <table class="table">
                <tr class="tr"><td>Bankaccount</td><td>{{model.bankaccountInfo.bankaccount}}</td></tr>
                <tr class="tr"><td>Name</td><td>{{model.bankaccountInfo.name}}</td></tr>
                <tr class="tr"><td>City</td><td>{{model.bankaccountInfo.City}}</td></tr>
            </table>
        </section>
    </div>
    <div class="col-xs-4">
        <section class="panel panel-futurum OrderData">
            <div class="panel-heading">
                <header class="panel-title">Orderdetails</header>
            </div>
            <table class="table">
                <tr class="tr">
                    <td>Ordernumber</td>
                    <td>
                        <a href="{{bo1url model.Ordernumber}}" target="_blank">{{model.Ordernumber}}</a>
                        {{!--(<a href="{{fo2url 'factuur/'}}{{RegId}}/{{Ordernumber}}" target="_blank">online invoice</a>)--}}
                    </td>
                </tr>
                <tr class="tr">
                    <td>Orderdate</td>
                    <td>{{model.OrderDate}}</td>
                </tr>
                <tr class="tr">
                    <td>Regid</td>
                    <td>
                        <a href="{{bo1url model.RegId type='customer'}}" target="_blank">{{model.RegId}}</a>
                    </td>
                </tr>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-6">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Invoice Address Information</header>
            </div>
            <table class="table">
                <tr class="tr"><td>Name: </td><td>{{model.name}} {{model.lastname}}</td></tr>
                <tr class="tr"><td>Company: </td><td>{{model.company}}</td></tr>
                <tr class="tr"><td>Street: </td><td>{{model.street}}</td></tr>
                <tr class="tr"><td>Number: </td><td>{{model.nbr}}</td></tr>
                <tr class="tr"><td>Zip: </td><td>{{model.zip}}</td></tr>
                <tr class="tr"><td>City: </td><td>{{model.city}}</td></tr>
                <tr class="tr"><td>Country: </td><td>{{model.country}}</td></tr>
                <tr class="tr"><td>Department: </td><td>{{model.department}}</td></tr>
                <tr class="tr"><td>Email: </td><td>{{model.email}}</td></tr>
                <tr class="tr"><td>Phone: </td><td>{{model.phone}}</td></tr>
                <tr class="tr"><td>Reference: </td><td>{{model.Reference}}</td></tr>
            </table>
        </section>
    </div>
    <div class="col-xs-6">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Delivery Address Information</header>
            </div>
            <table class="table">
                <tr class="tr"><td>Name: </td><td>{{model.DelName}} {{model.dellastname}}</td></tr>
                <tr class="tr"><td>Company: </td><td>{{model.DelCompany}}</td></tr>
                <tr class="tr"><td>Street: </td><td>{{model.delstreet}}</td></tr>
                <tr class="tr"><td>Number: </td><td>{{model.DelNbr}}</td></tr>
                <tr class="tr"><td>Zip: </td><td>{{model.DelZip}}</td></tr>
                <tr class="tr"><td>City: </td><td>{{model.DelCity}}</td></tr>
                <tr class="tr"><td>Country: </td><td>{{model.DelCountry}}</td></tr>
                <tr class="tr"><td>Department: </td><td>{{model.DelDepartment}}</td></tr>
                <tr class="tr"><td>Email: </td><td>{{model.DelEmail}}</td></tr>
                <tr class="tr"><td>Phone: </td><td>{{model.DelPhone}}</td></tr>
                <tr class="tr"><td>Reference: </td><td>{{model.Reference}}</td></tr>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Orderlines</header>
            </div>
            <table class="table table-striped table-hover" id="OrderLines">
                <thead>
                    <tr class="tr"><th>Id</th><th>ProdLevId</th><th>Name</th><th>Ordered Stock</th><th>Price</th><th>Quantity</th><th>Total</th></tr>
                </thead>
                {{#each line in model.orderlines}}
                    <tr class="tr">
                        <td>{{line.Volgnr}}</td>
                        <td>{{line.ProdLevId}}</td>
                        <td>{{line.Vendor}} {{line.Name}}</td>
                        <td>{{line.OrderedStock}}</td>
                        <td>&euro; {{line.EUprice}}</td>
                        <td>{{line.Quant}}</td>
                        <td>&euro; {{line.revenue}}</td>
                    </tr>
                {{/each}}
                <tr class="tr thickerTopBorder"><td></td><td colspan="5">Shipping/Administration cost</td><td>&euro; {{model.ShippingCosts}}</td></tr>
                <tr class="tr"><td></td><td colspan="5">Discount</td><td>&euro; {{model.Discount}}</td></tr>
                <tr class="tr"><td></td><td colspan="5">Coupon discount</td><td>&euro; {{model.coupon_discount}}</td></tr>
                <tr class="tr thickerTopBorder"><td></td><td colspan="5">Sub total</td><td>&euro; {{model.totalExclTax}}</td></tr>
                <tr class="tr"><td></td><td colspan="5">VAT ({{model.TaxPercentage}}%)</td><td>&euro; {{model.Tax}}</td></tr>
                <tr class="tr thickerTopBorder"><td></td><td colspan="5">Total</td><td>&euro; {{model.TotalToPay}}</td></tr>
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Order history</header>
            </div>
            <table class="table table-striped table-hover" id="OrderHistory">
                <thead>
                    <tr class="tr"><th>Ordernumber</th><th>Text</th><th>Status</th><th>User</th><th>Date</th></tr>
                </thead>
                {{#each history in model.orderhistory}}
                    <tr class="tr">
                        <td>{{history.Ordernumber}}</td>
                        <td>{{history.Text}}</td>
                        <td>{{history.Status}}</td>
                        <td>{{history.user}}</td>
                        <td>{{history.HistDate}}</td>
                    </tr>
                {{/each}}
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Orderlines history</header>
            </div>
            <table class="table table-striped table-hover" id="OrderLinesHistory">
                <thead>
                    <tr class="tr"><th>Ordernumber</th><th>Id</th><th>Text</th><th>Status</th><th>User</th><th>Date</th></tr>
                </thead>
                {{#each history in model.orderlineshistory}}
                    <tr class="tr">
                        <td>{{history.Ordernumber}}</td>
                        <td>{{history.Volgnr}}</td>
                        <td>{{history.text}}</td>
                        <td>{{history.status}}</td>
                        <td>{{history.user}}</td>
                        <td>{{history.date}}</td>
                    </tr>
                {{/each}}
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Sent emails from backofice</header>
            </div>
            <table class="table table-striped table-hover" id="OrderEmails">
                <thead>
                    <tr class="tr"><th>Subject</th><th>User</th><th>Date</th><th>Receiver</th></tr>
                </thead>
                {{#each mail in model.emails}}
                    <tr class="tr"><td>{{mail.subject}}</td><td>{{mail.user}}</td><td>{{mail.datesend}}</td><td>{{mail.towho}}</td></tr>
                {{/each}}
                {{#unless model.emails}}
                    <tr class="tr"><td colspan="4">No emails are send</td></tr>
                {{/unless}}
            </table>
        </section>
    </div>
</div>

<div class="row-fluid">
    <div class="col-xs-12">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Incidents</header>
            </div>
            <table class="table table-striped table-hover" id="OrderIncidents">
                <thead>
                    <tr class="tr"><th>Text</th><th>Date</th></tr>
                </thead>
                {{#each incident in model.incidents}}
                    <tr class="tr"><td>{{{incident.Text}}}</td><td>{{incident.IncidentDate}}</td></tr>
                {{/each}}
                {{#unless model.incidents}}
                    <tr class="tr"><td colspan="7">This order has no incidents</td></tr>
                {{/unless}}
            </table>
        </section>
    </div>
</div>