<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th data-name="Status">Status
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </th>
            <th data-name="Ordernumber">Ordernumber
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </th>
            <th data-name="RegId">Customer
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </th>
            <th data-name="OrderDate">OrderDate
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </th>
            <th data-name="PaymentMethod">PaymentMethod
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </th>
            <th data-name="Total">Total
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each order in controller}}
            <tr>
                <td id="status">{{order.Statusdescription}} ({{order.Status}})</td>
                <td>
                    {{!--{{#link-to 'order.detail' order}}{{order.Ordernumber}}{{/link-to}}--}}
                    <a href="/orders/orders/{{order.Ordernumber}}">{{order.Ordernumber}}</a>
                </td>
                <td>
                    <a href="{{bo1url order.RegId type='customer'}}" target="_blank">{{order.RegId}}</a>
                    {{order.DelName}}, {{order.DelCity}}
                </td>
                <td>{{order.OrderDate}}</td>
                <td>{{order.PaymentMethod}}</td>
                <td>&euro; {{order.Total}}</td>
            </tr>
    {{/each}}
    </tbody>
</table>