<div class="row">
    <header class="editview">
        <div class="col-xs-6">
            <h3>Procurement order for supplier <strong>{{model.supplier.name}}</strong></h3>
        </div>
        <div class="col-xs-6" style="line-height: 24px">
            <div class="col-xs-6">Created by: {{model.user.name}}</div>
            <div class="col-xs-4">Status: <span class="badge">{{model.status}}</span></div>
        </div>
    </header>
</div>
<p></p>
<div class="panel panel-primary">
    <div class="panel-heading">
        <i class="fa fa-envelope fullwidth" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
           aria-controls="collapseOne">
            Email
        </i>
    </div>
    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-group">
                <label for="to">To:</label>
                {{input value=model.mail_to id="to" class="form-control"}}
            </div>
            <div class="form-group">
                <label for="subject">Subject:</label>
                {{input value=model.mail_subject id="subject" class="form-control"}}
            </div>
            <div class="form-group">
                <label for="mailbody">Message:</label>
                {{textarea value=model.mail_body id="mailbody" class="form-control" rows="4"}}
            </div>
        </div>
    </div>
</div>

<div class="">
    <button class="btn btn-sm btn-danger deleteBtn" {{action "deleteSelected"}}><i class="fa fa-ban"></i> delete</button>
    <button class="btn btn-sm btn-success addBtn" {{action "addToOrder"}}><i class="fa fa-plus-circle"></i> add</button>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-sm btn-success saveOrderButton blockwhileajax" {{action "saveOrder"}}>
            <i class="fa fa-save"></i> Save
        </button>
        <button type="button" class="btn btn-sm btn-success dropdown-toggle blockwhileajax" data-toggle="dropdown"
                aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#" class="sendPreviewButton" {{action "saveAndPreview"}}><i class="fa fa-envelope"></i> Save &amp; send preview</a></li>
            <li><a href="#" class="sendOrderButton" {{action "saveAndFinal"}}><i class="fa fa-send"></i> Save &amp; send final</a></li>
            <li><a href="#" class="saveOrderButton" {{action "saveOrder"}}><i class="fa fa-save"></i> Save</a></li>
        </ul>
    </div>
</div>
<div class="pull-right">Total value: {{model.totalValue}}</div>
<form class="form">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>
                <input type="checkbox" {{action 'selectAll'}}>
            </th>
            <th>ProdLevID</th>
            <th>Supplier ProdID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Scanned</th>
            <th class="text-right">Purchase Price</th>
        </tr>
        </thead>
        <tbody>
        {{#each line in model.lines}}
        <tr>
            <td>
                {{input type='checkbox' checked=line.selected}}
                <i id="removefromorder" class="fa fa-ban" title="Remove from order" {{action 'removeLine' line}}></i>
            </td>
            <td id="prodlevid">
                {{#if line.prodlevid}}
                    {{line.prodlevid}}
                {{else}}
                    {{input value=line.prodlevid}}
                {{/if}}
            </td>
            <td>{{line.prodid}}</td>
            <td>
                <div>{{line.product.vendor}} {{line.product.name}} {{line.specification}}</div>
                <small class="eans">{{#each ean in line.product.eans}}{{ean}}&nbsp;<span class="seperator">|</span>&nbsp;{{/each}}</small>
            </td>
            <td>
                <label for="qty" class="sr-only">Quantity</label>
                {{input type="number" value=line.qty class="form-control input-sm" style="width: 6em"}}
            </td>
            <td>{{line.scanned_qty}}</td>
            <td class="text-right">{{line.pprice}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</form>