<label for="statusFilter">Filter:
    <select id="statusFilter" class="form-control">
        <option value="allopen">All Open</option>
        <option value="all">All</option>
        <option value="draft">Drafts</option>
        <option value="sent">Sent</option>
        <option value="received">Received</option>
        <option value="closed">Closed</option>
    </select>
</label>