<table class="table table-striped">
    <thead>
    <tr>
        <th><input type="checkbox" {{action "selectAll"}} title="select all"></th>
        <th>Status</th>
        <th>Supplier</th>
        <th>Created By</th>
        <th>Created</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
        {{#each order in controller}}
        <tr>
            <td>
                {{input type='checkbox' checked=order.selected}}
                {{#if order.isNotClosed}}
                    <button class="btn btn-xs {{if order.canBeClosed 'btn-success' 'btn-warning'}}" id="close" {{action "closeOrder" order}}>close</button>
                {{else}}
                    <button class="btn btn-xs btn-danger" disabled="disabled">Closed</button>
                {{/if}}

                {{#link-to 'procurement.order' order}}{{order.id}}{{/link-to}}
            </td>
            <td>{{order.status}}</td>
            <td>{{order.supplier.name}}</td>
            <td>{{order.user.name}}</td>
            <td>{{order.created_at}}</td>
            <td>{{order.totalValue}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>