<p class="col-xs-12">
    {{fut-codeview value=model.body}}
</p>
<p id="controls" class="col-xs-12">
    <button id="save" class="btn btn-success" {{action "save" model}}><i class="fa fa-save"></i> Save</button>
    <button id="close" class="btn btn-primary" {{action "close" model}}><i class="fa fa-times"></i> Close</button>
</p>
