<div class="imageDropArea" data-editing="true" id="{{url}}">
    <img src="{{image}}" style="min-height: 40px; max-height: 40px;max-width: 100%" title="{{url}}" id="image">
    <div><small class="weak">{{url}}</small></div>
</div>