<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" {{action "add"}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>Name {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='name' title='Name'}}</th>
            <th>Products</th>
            <th>Blogitems</th>
            <th>Vendors</th>
            <th>Header</th>
            <th>Footer</th>
            <th>Published {{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='publish' title='Published'}}</th>
            <th>Vendorpage {{fut-listfilter-bool setFilter='filter' clearFilter='removeFilter' field='vendorpage' title='Vendor page'}}</th>
            <th>Themepage</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each item in controller itemController="editable"}}
        {{#with item.model as landing}}
            <tr>
                <td style="min-width: 40px;">
                    <a target="cmspreview" id="pageLink" href="{{previewLink}}">
                        <i class="fa fa-globe" title="Show Preview"></i>
                    </a>
                    {{partial 'editing'}}
                    {{#if editing}}
                        <a id="delete" {{action "del" landing}}><i class="glyphicon glyphicon-remove"></i></a>
                    {{/if}}
                    <i class="fa fa-code-fork" id="#copy" title="Copy to DE"></i>
                    {{#link-to 'shop.landing.edit' landing title="Open Code Editor"}}<i class="fa fa-code"></i>{{/link-to}}
                </td>
                <td>{{input value=landing.name class="editable" disabled=item.notediting}}</td>
                <td>{{input value=landing.products class="editable" disabled=item.notediting}}</td>
                <td>{{input value=landing.blogitems class="editable" disabled=item.notediting}}</td>
                <td>{{input value=landing.vendors class="editable" disabled=item.notediting}}</td>
                <td>{{input type="checkbox" checked=landing.header class="editable" disabled=item.notediting}}</td>
                <td>{{input type="checkbox" checked=landing.footer class="editable" disabled=item.notediting}}</td>
                <td>{{input type="checkbox" checked=landing.publish class="editable" disabled=item.notediting}}</td>
                <td>{{input type="checkbox" checked=landing.vendorpage class="editable" disabled=item.notediting}}</td>
                <td>{{input type="checkbox" checked=landing.themepage class="editable" disabled=item.notediting}}</td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>