<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="min-width: 45px;">&nbsp;</th>
        <th>
            Supplier ID
            {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='id' title='Supplier ID'}}
        </th>
        <th>
            Name
            {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='name' title='Supplier Name'}}
        </th>
        <th>Discount (%)</th>
        <th>Bonus (%)</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
    {{#each item in controller itemController="editable"}}
        {{#with item.model as supplier}}
            <tr>
                <td>
                    {{partial 'editing'}}
                    {{#if editing}}
                        <a {{action 'deleteSupplier' supplier}}><i class="fa fa-times"></i></a>
                    {{/if}}
                </td>
                <td>{{input value=supplier.id disabled=item.notediting class="form-control"}}</td>
                <td>{{input value=supplier.name disabled=item.notediting class="form-control"}}</td>
                <td>{{input value=supplier.discount disabled=item.notediting class="form-control"}}</td>
                <td>{{input value=supplier.bonus disabled=item.notediting class="form-control"}}</td>
                <td>{{input value=supplier.comment disabled=item.notediting class="form-control"}}</td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>

