<form role="form">
    <div class="col-xs-3">
        {{fut-input value=model.queue label="Queue"}}
    </div>
    <div class="form-group col-xs-3">
        <label for="category" class="control-label">Category</label><br>
        {{fut-choice
            model=model
            field="category.title"
            content=categories
            optionValuePath="title"
            optionLabelPath="title"
            prompt="Choose a category"
        }}
    </div>
    <div class="form-group col-xs-6">
        {{fut-input value=model.question label="Question"}}
    </div>
    <div class="form-group col-xs-12">
        {{fut-wysiwyg model=model field="answer" value=model.answer rows=4 label="Answer"}}
    </div>
</form>
<hr>
<div class="pull-right">
    <button class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
    <button class="btn btn-warning" {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-danger" {{action 'deleteFaq' model}}><i class="fa fa-ban"></i> Delete</button>
</div>