{{fut-pagination data=pagination pageChanged="pageChanged"}}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <button {{action 'add'}} class="btn btn-success btn-xs">
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th>Queue</th>
            <th>
                Category
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='category.title' title='category.title'}}
            </th>
            <th>
                Question
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='question' title='question'}}
            </th>
            <th>
                Answer
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='answer' title='answer'}}
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |faq|}}
            <tr>
                <td>{{#link-to 'shop.faqs.edit' faq title='Edit faq'}}<i class="fa fa-edit"></i>{{/link-to}}</td>
                <td>{{faq.queue}}</td>
                <td>{{faq.category.title}}</td>
                <td>{{faq.question}}</td>
                <td>{{str-truncate faq.answer 50 '...' true}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>