{{#fut-sidebar}}
    <div class="panel-heading faqCats">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">
                        <button {{action 'addCategory'}} class="btn btn-success btn-xs">
                            <i class="fa fa-plus-circle"></i>&nbsp;Add
                        </button>
                    </th>
                    <th>Categories</th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |cat|}}
                    {{#fut-editablerow model=cat save="saveCat" delete="deleteCat" as |editing|}}
                        <td>
                            {{cat.queue}}
                        </td>
                        <td>
                            {{fut-input value=cat.title placeholder='Title' editing=editing}}
                            {{fut-input value=cat.image class='faq' placeholder='Icon' editing=editing}}
                            <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank" title="Choose icon from here">
                                <i class="fa fa-eye fa-large"></i>
                            </a>
                        </td>
                    {{/fut-editablerow}}
                {{/each}}
            </tbody>
        </table>
    </div>
{{/fut-sidebar}}