{{#if item.editing}}
    <a class="glyphicon glyphicon-ok" {{action "save" item.model}}></a>&nbsp;
{{/if}}

<a class="glyphicon {{if item.editing 'glyphicon-ban-circle' 'glyphicon-pencil'}}" {{action "toggleEdit"}}></a>
