<div class="navbar-header">
    <a class="navbar-brand" href="/">BackOffice 2<span class="dbName">{{DBNAME}}</span></a>
    <div class="pull-left" style="display:inline-block;padding-top: 0.5em;width:15px;">
        <span id="loading" style="color:white;display:none;"><i class="fa fa-refresh"></i></span>
    </div>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="navbar-user pull-right">
    <div class="hidden-xs hidden-sm" style="padding-right:20px">
        <a id="settings" href="/settings" style="color:white">{{userName}} <i class="fa fa-user fa-inverse"></i></a>
        <span style="padding: 0 5px;">|</span>
        <label for="generalsearch" class="sr-only">General search</label>
        <span class="form-inline">
            <span class="input-group">
                <input class="form-control input-sm" type="search" id="generalsearch" name="search" style="">
                <span class="input-group-btn">
                    <button class="btn btn-success btn-sm" id="search"><i class="fa fa-search fa-inverse fa-lg"></i>
                    </button>
                </span>
            </span>
        </span>
    </div>
</div>

<div class="collapse navbar-collapse" id="nav-collapse">
    <ul class="nav navbar-nav"></ul>
</div>
