<a href="{{route}}" class="dropdown-toggle" data-toggle="dropdown">
    {{{menuIcons name}}} {{name}} <b class="caret"></b></a>
<ul class="dropdown-menu">
    {{#each routes}}
        <li><a href="{{route}}">{{{name}}}</a></li>
    {{/each}}
</ul>