<ul class="pagination" style="float:left;margin-top:0;padding-right: 10px;">
    <li><a href="#" class="firstPage">&laquo;</a></li>
    <li><a href="#" class="prevPage">&lsaquo;</a></li>
    {{#each pageSet}}
        <li {{#equals this ../currentPage}}class="active"{{/equals}} >
            <a href="#" class="gotoPage">{{this}}</a>
        </li>
    {{else}}
        <li><a href="#" class="currentPage"></a></li>
    {{/each}}
    <li><a href="#" class="nextPage">&rsaquo;</a></li>
    <li><a href="#" class="lastPage">&raquo;</a></li>
</ul>
<label for="perPage" class="sr-only">Items Per Page</label>
<select class="perPage form-control" id="perPage" name="perPage" style="width: 80px;"></select>
