<div class="pull-right" style="margin-top:40px;">
    <form class="form-search" >
        <div class="input-append span4">
            <input type="search" class="search-query" id="mainSearchField" value="{{searchTerm}}">
            {{#if searchTerm}}
                <button class="btn clearBtn noRound">Clear</button>
            {{/if}}
            <button type="submit" class="btn">Search</button>
        </div>
    </form>
</div>