<div class="panel panel-default">
    <div class="panel-heading">Settings</div>
    <div class="panel-body form">
        <div class="form-group">
            <label for="emailSignature">Email signature:</label>
            <textarea class="form-control" id='emailSignature' rows="4">{{settings.emailSignature}}</textarea>
        </div>

        <div class="form-group">
            <label for="ELASTICSEARCHURL">ElasticSearch URL:</label>
            {{input value=settings.ELASTICSEARCHURL class="form-control" id='ELASTICSEARCHURL'}}
        </div>
    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-success" id="save"><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btn btn-danger" id="reset"><i class="fa fa-refresh"></i> Reset to defaults</button>
    </div>
</div>
