<form role="form">
    <fieldset class="panel panel-info">
        <div class="panel-heading">Category: {{model.name}}</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="name">Name</label>
                {{input id="name" value=model.name class="form-control" aria-describedby="namehelp"}}
                <span id="namehelp" class="help-block">The name of the category. Caution, this also changes it's url, so change only when needed.</span>
            </div>
            <div class="form-group">
                <label for="displayname">Display name</label>
                {{input id="displayname" value=model.displayname class="form-control" aria-describedby="displaynamehelp"}}
                <span id="displaynamehelp" class="help-block">The name of the category as displayed on the site. Does not modify the url, so relatively safe to change.</span>
            </div>
            <div class="form-group">
                <label for="url">Url</label>
                {{input id="url" value=model.url class="form-control"}}
            </div>
            <div class="form-group">
                <label for="shorttext">Short description</label>
                {{input id="shorttext" value=model.shorttext class="form-control" aria-describedby="shorttexthelp"}}
                <span id="shorttexthelp" class="help-block">This text is displayed just below the top menu buttons, and should be short and catchy.</span>
            </div>
        </div>
    </fieldset>
    <fieldset class="panel panel-default">
        <div class="panel-body">
            <div class="form-group form-inline">
                <div class="form-group col-md-4">
                    <label for="visible">Visible</label>
                    {{input type="checkbox" id="visible" checked=model.visible}}
                </div>
                <div class="form-group col-md-4">
                    <label for="enabled">Enabled</label>
                    {{input type="checkbox" id="enabled" checked=model.enabled}}
                </div>
                <div class="form-group col-md-4">
                    <label for="showindropdown">Show in dropdown</label>
                    {{input type="checkbox" id="showindropdown" checked=model.showindropdown}}
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset class="panel panel-default">
        <div class="panel-heading">SEO data</div>
        <div class="panel-body">
            <div class="form-group">
                <label for="title">Title</label>
                {{input id="title" value=model.title class="form-control"}}
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                {{input id="description" value=model.description class="form-control"}}
            </div>
            <div class="form-group">
                <label for="keyword">Keywords</label>
                {{input id="keyword" value=model.keyword class="form-control"}}
            </div>
        </div>
    </fieldset>
    {{!--<fieldset class="col-md-4" id="fotips"></fieldset>--}}
</form>
<hr>
<div class="pull-right">
    {{!--<button class="btn btn-primary" id="btnAddTip">Add Tip</button>--}}
    <button class="btn btn-danger"  {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-success" {{action 'saveChanges' model}}><i class="fa fa-save"></i> Save</button>
</div>
