<li class="treeitem">
    <a class="collapser" data-toggle="collapse" data-parent="#Topmenu">
        {{#if hasChildren}}
            <i class="fa fa-plus-square-o" id="collapseIcon"></i>
        {{else}}
            <i class="fa fa-square-o"></i>
        {{/if}}
        {{name}}
    </a>
    <ul class="children collapse list-unstyled {{openClass}}" id="{{frontoffice_menu_id}}"></ul>
</li>