<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="white-space: nowrap">
            <button class="btn btn-xs btn-success" id="AddButton">
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
            </button>
        </th>
        <th>ID</th>
        <th>Name</th>
        <th>Vendors</th>
        <th>Queue</th>
        <th>Visible</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
        {{#each item in controller itemController="editable"}}
            {{#with item.model as fomenu}}
                <tr>
                    <td>
                        {{partial 'editing'}}
                        {{#link-to 'shop.fomenu.detail' model title="Edit details"}}<i class="fa fa-edit"></i>{{/link-to}}
                        {{#if item.editing}}
                            <a {{action 'showModal' 'popupHtml' fomenu 'dropdown'}} title="Edit dropdown menu">
                                <i class="glyphicon glyphicon-list-alt"></i>
                            </a>
                        {{/if}}
                    </td>
                    <td id="id">{{fomenu.frontoffice_menu_id}}</td>
                    <td>
                        <label for="name" class="sr-only">Name</label>
                        <span title="Name">{{fomenu.name}}</span>
                        {{#if fomenu.displayname}}
                            <small class="weak" title="Display name: {{fomenu.displayname}}">({{striptags fomenu.displayname}})</small>
                        {{/if}}
                    </td>
                    <td style="overflow: hidden">
                        <a type="text" id="vendors" class="editable">{{#each vendor in fomenu.vendors}}{{vendor.name}} {{/each}}</a>
                    </td>
                    <td style="white-space: nowrap">
                        <label for="que_number" class="sr-only">Que number</label>
                        {{input type="number" value=fomenu.que_number class="editable input-sm form-control" disabled=item.notediting}}
                        {{#if item.editing}}
                            <i class="glyphicon glyphicon-arrow-up "></i>
                            <i class="glyphicon glyphicon-arrow-down"></i>
                        {{/if}}
                    </td>
                    <td>{{input type="checkbox" checked=fomenu.visible}}</td>
                </tr>
            {{/with}}
        {{/each}}
    </tbody>
</table>
