<div class="form-group col-xs-5">
    <label for="name" class="sr-only">Name</label>
    <input type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group col-xs-5">
    <label for="url" class="sr-only">Url</label>
    <input type="text" name="url" id="url" class="form-control">
</div>
<div class="col-xs-2">
    <button class="btn btn-xs btn-danger" id="remove">&times;</button>
    <i id="sortUp" class="glyphicon glyphicon-arrow-up"></i>
    <i id="sortDown" class="glyphicon glyphicon-arrow-down"></i>
</div>