<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header clearfix">
            <h3 id="myModalLabel">
                Frontoffice menu vendors
                <button id="popupclose" type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-remove"></i>
                </button>
            </h3>
        </div>
        <div class="modal-body clearfix">
            <form id="body" class="form form-inline">
            </form>
        </div>
        <div class="modal-footer clearfix">
            <button class="btn btn-primary" id="add">Add</button>
            <button class="btn btn-danger"  id="btnCancel">cancel</button>
            <button class="btn btn-success" id="saveChanges">Ok</button>
        </div>
    </div>
</div>