<div id="breadcrumbs" class="col-xs-9"></div>
<div class="col-xs-3">
    <div class="well dropbox">
        <br>
        Drag file to process
        <br>
        <br>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>
            <button class="btn btn-xs btn-success" {{action 'addMaterial'}}>
                <i class="fa fa-plus-circle"></i>&nbsp;Add
            </button>
        </th>
        <th>
            ProdLevId {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='prodlevid' title='ProdLevId'}}
        </th>
        <th>Part</th>
        <th>Description</th>
        <th>Material</th>
        <th>Percentage</th>
    </tr>
    </thead>
    <tbody>
    {{#each item in controller itemController="editable"}}
        {{#with item.model as material}}
            <tr>
                <td style="min-width: 40px;">
                    {{partial "editing"}}
                    {{#if editing}}
                        <a id="delete" {{action 'deleteMaterial' material}}><i class="fa fa-times"></i></a>
                    {{/if}}
                    <a target="productpreview" id="viewLink" href="{{fo2url material.prodlevid type="product"}}">
                        <i class="glyphicon glyphicon-globe" title="Open product"></i>
                    </a>
                </td>
                <td>
                    {{input value=material.prodlevid class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=material.part class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=material.description class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=material.material class="editable input" disabled=item.notediting}}
                </td>
                <td>
                    {{input value=material.percentage class="editable input" disabled=item.notediting}}
                </td>
            </tr>
        {{/with}}
    {{/each}}
    </tbody>
</table>