{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th>Status {{fut-listsort setSort="sort" field='Status'}}</th>
            <th>Ordernumber {{fut-listsort setSort="sort" field='Ordernumber'}}</th>
            <th>Customer {{fut-listsort setSort="sort" field='RegId'}}</th>
            <th>OrderDate {{fut-listsort setSort="sort" field='OrderDate'}}</th>
            <th>PaymentMethod {{fut-listsort setSort="sort" field='PaymentMethod'}}</th>
            <th>Total {{fut-listsort setSort="sort" field='Total'}}</th>
        </tr>
    </thead>
    <tbody id="tablecontent">
        {{#each model as |order|}}
            <tr>
                <td id="status">{{order.Statusdescription}} ({{order.Status}})</td>
                <td>
                    {{#link-to 'orders.orders.edit' order.Ordernumber}}{{order.Ordernumber}}{{/link-to}}
                </td>
                <td>
                    <a href="{{bo1-url order.RegId type='customer'}}" target="_blank">{{order.RegId}}</a>
                    {{order.DelName}}, {{order.DelCity}}
                </td>
                <td>{{order.OrderDate}}</td>
                <td>{{order.PaymentMethod}}</td>
                <td>&euro; {{order.Total}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>