<div class="col-md-6">
    <div class="form-group col-xs-6">
        <label for="from">From:</label>
        {{input type="datetime-local" value=model.fromTime class="form-control" name="from"}}
    </div>
    <div class="form-group col-xs-6">
        <label for="to">To:</label>
        {{input type="datetime-local" value=model.toTime class="form-control" name="to"}}
    </div>
</div>
<div class="col-md-6">
    <p><strong>Period:</strong></p>
    <p>
        <button class="btn btn-primary btn-xs" {{action "lastmonth"}}>Last month</button>
        <button class="btn btn-primary btn-xs" {{action "thismonth"}}>This month</button>
        <button class="btn btn-primary btn-xs" {{action "lastweek"}}>Last week</button>
        <button class="btn btn-primary btn-xs" {{action "thisweek"}}>This week</button>
        <button class="btn btn-primary btn-xs" {{action "yesterday"}}>Yesterday</button>

        <button class="btn btn-primary btn-xs" {{action "daybefore"}}>
            <i class="fa fa-arrow-circle-left"></i> One day earlier
        </button>

        <button class="btn btn-success btn-xs" {{action "today"}}>Today</button>
        <button class="btn btn-primary btn-xs" {{action "dayafter"}}>One day later
            <i class="fa fa-arrow-circle-right"></i>
        </button>
    </p>
</div>