<div class="row col-xs-12 form" id="filterView">
    {{view 'statistics.Filter'}}
</div>

<div class="col-xs-12 panel panel-default">
    <div class="panel-body" style="font-size:80%">
        <div class="col-xs-3">
            <span># of Orders: </span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong id="totalOrders" class="valuta">{{model.totalOrders}}</strong>
        </div>
        <div class="col-xs-3">
            <span>average marge: </span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong style="font-size: 130%" class="hidden-xs hidden-sm">&euro;</strong>
            <strong id="avgOrderMarge" class="valuta">{{money model.averageOrderMarge}}</strong>
        </div>
        <div class="col-xs-3">
            <span>average revenue: </span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong style="font-size: 130%" class="hidden-xs hidden-sm">&euro;</strong>
            <strong id="avgOrderAmount" class="valuta">{{money model.averageOrderAmount}}</strong>
        </div>
        <div class="col-xs-3">
            <span>total revenue: </span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong style="font-size: 130%" class="hidden-xs hidden-sm">&euro;</strong>
            <strong id="totalOrderAmount" class="valuta">{{money model.totalOrderAmount}}</strong>
        </div>
    </div>
</div>
{{fut-chart-line data=model domains=model.domain class="col-xs-12 chartContainer"}}

<div id="chart3" class="col-md-12 chartContainer"></div>

{{fut-chart-bar data=model.deliverymethods title="Deliverymethods" class="col-xs-6 chartContainer"}}
{{fut-chart-bar data=model.vendors title="Vendors" class="col-xs-6 chartContainer"}}

<div class="col-xs-12 panel panel-default">
    <div class="panel-body" style="font-size:80%">
        <div class="col-xs-3">
            <span># of Coupons used:</span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong id="couponsUsed" class="valuta">{{model.couponsUsed}}</strong>
        </div>
        <div class="col-xs-3">
            <span>average discount: </span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong class="hidden-xs hidden-sm">&euro;</strong>
            <strong id="avgDiscount" class="valuta">{{money model.averageDiscount}}</strong>
        </div>
        <div class="col-xs-3">
            <span>total discount: </span>
            <div class="clearfix visible-xs visible-sm"></div>
            <strong class="hidden-xs hidden-sm">&euro;</strong>
            <strong id="totalDiscount" class="valuta">{{money model.totalDiscount}}</strong>
        </div>
    </div>
</div>

{{fut-chart-bar data=model.products title="Products" class="col-xs-12 chartContainer"}}