<div class="col-xs-12 form" id="filterView">
    {{view 'statistics.Filter'}}
</div>

<div class="clearfix"></div>
<div id="productlist" class="listContainer">
    <table class="table table-striped">
        <thead>
        <tr>
            <td>ProdLevId</td>
            <td>Vendor</td>
            <td>Product</td>

            <td>Avg Purchase Price</td>
            <td>Avg Marge</td>
            <td>Avg Selling Price</td>
            <td># orderlines</td>
            <td>Quantity
                <small>(avg)</small>
            </td>
            <td>Revenue
                <small>(avg)</small>
            </td>
        </tr>
        </thead>
        <tbody id="children">
            {{#with model.total as |product|}}
                {{partial 'statistics/productitem'}}
            {{/with}}
            {{#each product in model.products}}
                {{partial 'statistics/productitem'}}
            {{/each}}
        </tbody>
    </table>

</div>
