<tr>
    <td>{{product.key}}</td>
    <td>{{product.vendor.buckets.0.key}}</td>
    <td>
        {{#each name in product.names.buckets}}
            <div>{{name.key}}</div>
        {{/each}}
    </td>
    <td>{{money product.pprice.value}}</td>
    <td>{{money product.marge.value}}
        <small>({{product.percentMarge}}%)</small>
    </td>
    <td>{{money product.euprice.value}}</td>
    <td>{{product.doc_count}}</td>

    <td>{{product.quant.value}}
        <small> ({{product.avgQuantity}})</small>
    </td>
    <td>{{money product.totalrevenue.value}}
        <small>({{money product.revenue.value}})</small>
    </td>
</tr>