<div class="row-fluid">
    <div class="col-xs-3">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Customer <span class="pull-right">{{model.RegId}}</span></header>
            </div>
            <dl class="panel-body">
                <dt>Name</dt>
                <dd>{{model.Name}} {{model.lastname}}</dd>
                <dt>Street</dt>
                <dd>{{model.street}} {{model.Nbr}}</dd>
                <dt>Zipcode &amp; City</dt>
                <dd>{{model.Zip}} {{model.City}}</dd>
                <dt>Country</dt>
                <dd>{{model.Country}}</dd>
                <dt>Phone</dt>
                <dd>{{model.Phone}}</dd>
                <dt>Fax</dt>
                <dd>{{model.Fax}}</dd>
                <dt>Email</dt>
                <dd>{{model.Email}}</dd>
            </dl>
        </section>
    </div>

    <div class="col-xs-3">
        <section class="panel panel-futurum">
            <div class="panel-heading">
                <header class="panel-title">Shipping</header>
            </div>
            <dl class="panel-body">
                <dt>Name</dt>
                <dd>{{model.DelName}} {{model.dellastname}}</dd>
                <dt>Street</dt>
                <dd>{{model.delstreet}} {{model.delnbr}}</dd>
                <dt>Zipcode &amp; City</dt>
                <dd>{{model.DelZip}} {{model.DelCity}}</dd>
                <dt>Country</dt>
                <dd>{{model.DelCountry}}</dd>
                <dt>Phone</dt>
                <dd>{{model.DelPhone}}</dd>
                <dt>Fax</dt>
                <dd>{{model.DelFax}}</dd>
                <dt>Email</dt>
                <dd>{{model.DelEmail}}</dd>
            </dl>
        </section>
    </div>
</div>