{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-condensed">
    <thead>
    <tr>
        <th></th>
        <th>Account number</th>
        <th>Name</th>
        <th>Email</th>
        <th>City</th>
        <th>ZipCode</th>
        <th>nbr</th>
        <th>Country</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
        {{#each model as |customer|}}
            <tr>
                <td></td>
                <td><a href="{{bo1-url customer.RegId type='customer'}}" target="_blank">{{customer.RegId}}</a></td>
                <td>{{customer.Name}}</td>
                <td>{{customer.Email}}</td>
                <td>{{customer.City}}</td>
                <td>{{customer.Zip}}</td>
                <td>{{customer.nbr}}</td>
                <td>{{customer.Country}}</td>
                <td>{{customer.Phone}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
