<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="white-space: nowrap">
            <button class="btn btn-xs btn-success" id="AddButton" {{action "addSynonym"}}>
                <i class="glyphicon glyphicon-plus-sign"></i>&nbsp;Add
            </button>
        </th>
        <th>Synonym</th>
        <th>Updated</th>
    </tr>
    </thead>
    <tbody id="tablecontent">
        {{#each item in controller itemController="editable"}}
            <tr>
                <td style="min-width: 40px;">{{partial "editing"}}</td>
                <td class="col-md-10">
                    <div class="form-group has-feedback">
                        <label for="synonym" class="sr-only">Synonym</label>
                        {{input value=item.model.synonym class="editable form-control input" disabled=item.notediting}}
                        <span class="glyphicon form-control-feedback"></span>
                    </div>
                </td>
                <td class="col-md-2" id="updated">{{item.model.updated}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>