<form role="form">
    <div class="form-group">
        <label for="category">Automail</label>
    </div>
    {{!--{{model.automail_id}}--}}
    {{fut-input model=model field="status_id" label="Status"}}
    {{!--{{model.date}}--}}
    {{fut-input model=model field="fromwho" label="From who"}}
    {{fut-input model=model field="subject" label="Subject"}}
    {{fut-wysiwyg model=model field="body" label="Body" value=model.body}}
    {{fut-input model=model field="reply_to" label="Reply to"}}
    {{!--{{model.sendto}}--}}
</form>
<hr>
<div class="pull-right">
    <button class="btn btn-danger"  {{action 'cancel'}}><i class="fa fa-ban"></i> Cancel</button>
    <button class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
</div>
{{!--Last updated: {{model.updated}}--}}