{{fut-pagination data=pagination pageChanged="pageChanged"}}

<table class="table table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th style="white-space: nowrap">
                <button class="btn btn-xs btn-success" {{action 'add'}}>
                    <i class="fa fa-plus-circle"></i>&nbsp;Add
                </button>
            </th>
            <th data-name="status_id">
                Status
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='status_id' title='Status'}}
            </th>
            <th>From who</th>
            <th data-name="subject">
                Subject
                {{fut-listfilter-text setFilter='filter' clearFilter='removeFilter' field='subject' title='Subject'}}
            </th>
            <th>Body</th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |automail|}}
            <tr>
                <td>{{#link-to 'shop.automails.edit' automail.automail_id title="Edit"}}<i class="fa fa-edit"></i>{{/link-to}}</td>
                <td>{{automail.status_id}}</td>
                <td>{{automail.fromwho}}</td>
                <td>{{str-truncate automail.subject 40 '...'}}</td>
                <td>{{str-truncate automail.body 50 '...' true}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>