<td width="60">
    <a id="edit" class="glyphicon glyphicon-pencil"></a>
    <a id="remove" class="remove">
        <i class="glyphicon glyphicon-remove"></i>
    </a>
    <a href="{{fo2url ProdLevId type='product'}}" target="preview" id="preview">
        <i class="glyphicon glyphicon-globe" title="View product on site"></i>
    </a>

</td>
<td>
    <label for="Active" class="sr-only">Active</label>
    <input type="checkbox" id="active" class="editable input" {{#if active}} checked="checked" {{/if}}>
</td>
<td id="vendor" class="input" width="5">{{product.Vendor}}</td>
<td></td>
<td id="comment" class="editable wrapText">{{Comments}}</td>
<td id="score" class="input">{{Score}}</td>
<td id="pluses" class="input">
    {{#each pluses}}
        - {{mark}} <br>
    {{/each}}
</td>
<td id="minuses" class="input">
    {{#each minuses}}
        - {{mark}} <br>
    {{/each}}
</td>
<td><button class="btn btn-sm btn-success" id="convert">Convert</button></td>
