<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th style="min-width: 45px;">&nbsp;</th>
        <th width="5px" data-name="Active" class="dropdown">
            <div>
                <span class="dropdown-toggle filter" title="Filter on: Active">Active</i></span>
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </div>
        </th>
        <th class="dropdown" id="vendorfilter" width="1"></th>
        <th  style="width:1px" class="dropdown">
            <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
            </span>
        </th>

        <th data-name="Comments" class="dropdown col-md-5">
            <div>
                <span class="dropdown-toggle filter" title="Filter on: Comments">Comments</span>
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </div>
        </th>
        <th data-name="Score" class="dropdown" width="1">
            <div>
                <span class="dropdown-toggle filter" title="Filter on: Score">Score</span>
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </div>
        </th>

        <th data-name="Pluses" class="dropdown">
            <div>
                <span class="dropdown-toggle filter">Pluses</span>
                <span class="fa-stack sort">
                </span>
            </div>
        </th>
        <th data-name="Minuses" class="dropdown">
            <div>
                <span class="dropdown-toggle filter">Minuses</span>
                <span class="fa-stack sort">
                </span>
            </div>
        </th>

        <th class="dropdown">
            <div>
                <span class="dropdown-toggle" >Convert</span>
                <span class="fa-stack sort">
                </span>
            </div>
        </th>

    </tr>
    </thead>
    <tbody id="tablecontent">
    </tbody>
</table>

