<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close destroy" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel" align="center">
                Edit Product Comment: {{product.Vendor}} {{product.Name}}

            </h4>
        </div>
        <form class="modal-body col-xs-12 form">
            <span class="control-group">

            </span>
            <div class="control-group">
                <label for="question_input">Name</label>
                <div class="well col-xs-12">
                    {{Name}}
                </div>
            </div>
            <p class="control-group">
                <label for="score_input" id="score_label">Score</label>
                {{select Score id="score_input" collection=myOwnSourceCollection}}
            </p>
            <p class="control-group">
                <label for="comment_input" id="name_label">Comment</label>
                <textarea id="comment_input" class="form-control"></textarea>
            </p>
            <label>Pluses</label>
            <p>
            {{#each pluses}}
                <input id="{{id}}" name="plus" value="{{mark}}" class="form-control"><br>
            {{/each}}
            </p>
            <label>Minuses</label>
            <p>
                {{#each minuses}}
                    <input id="{{id}}" name="minus" value="{{mark}}" class="form-control"><br>
                {{/each}}
            </p>
            <div>
                <span class="control-group col-xs-4">
                     <label for="active_input" id="active_label">
                        <input id="active_input" type="checkbox">
                         Active
                    </label>
                </span>
            </div>
        </form>
        <div class="modal-footer">
            <button id="close" type="button" class="btn btn-default destroy" data-dismiss="modal">Close</button>
            <button id="save_model" type="button" class="btn btn-success">Save changes</button>
        </div>
    </div>
</div>
