<table class="table table-striped table-hover table-condensed">
    <thead>
    <tr>
        <th>Action</th>
        <th id="ordernumberfilter" data-name="ordernumber" class="dropdown">
            <span class="fa-stack sort">
                <i class="fa fa-sort-desc fa-stack-1x"></i>
                <i class="fa fa-sort-asc fa-stack-1x"></i>
            </span>
        </th>
        <th data-name="status" class="dropdown">
            <div>
                <span class="dropdown-toggle filter" title="Filter on: Question">Status</span>
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </div>
        </th>
        <th data-name="customerId" class="dropdown">
            <div>
                <span class="dropdown-toggle filter" title="Filter on: Customer">Customer</span>
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </div>
        </th>
        <th data-name="shippingType" class="dropdown">
            <div>
                <span class="dropdown-toggle filter" title="Filter on: Shippingtype">Shippingtype</span>
                <span class="fa-stack sort">
                    <i class="fa fa-sort-desc fa-stack-1x"></i>
                    <i class="fa fa-sort-asc fa-stack-1x"></i>
                </span>
            </div>
        </th>
        <th data-name="items" class="dropdown">
            <div>
                Items
            </div>
        </th>
    </tr>
    </thead>
    <tbody id="tablecontent">
    {{#each retour in controller}}
        <tr>
            <td>
                <button class="btn btn-xs btn-primary" disabled={{retour.isReceived}} {{action 'setReceived' retour}}>
                    <i class="fa fa-truck"></i> Received
                </button>
            </td>
            <td>
                <a href="{{bo1url retour.ordernumber}}" target="cmspreview">
                    <span>{{retour.ordernumber}}</span>
                </a>
            </td>
            <td>{{retour.statusText}}</td>
            <td>
                <a href="{{bo1url retour.customerId type='customer'}}" target="cmspreview">
                    <span>{{retour.customerId}}</span>
                </a>
            </td>
            <td>{{retour.shippingType}}</td>
            <td>
                <a href="" style="padding:10px" {{action 'toggleItems' retour}}><i class="fa fa-level-down"></i></a>
                {{#if retour.itemsVisible}}
                    <dl class="dl-horizontal">
                        {{#each item in retour.items}}
                            <dt>Prodlevid:</dt>
                            <dd>{{item.prodlevid}}</dd>
                            <dt>Qty:</dt>
                            <dd>{{item.qty}}</dd>
                            <dt>Reason:</dt>
                            <dd>{{item.retourreason}}</dd>
                            <dt>Type:</dt>
                            <dd>{{item.retourtype}}</dd>
                        {{/each}}
                    </dl>
                {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>

