<div class="col-xs-12">
    <div id="navigationcontainer" class="col-md-12">
        {{partial 'navigation'}}
    </div>
    <div id="sidebar" class="container-fluid">
        {{outlet 'sidebar'}}
    </div>
    <div id="main-wrapper" class="row">
        <div id="notificationcontainer"></div>
        <div class="c-notification__container">
            {{#each notifications as |notification|}}
                {{notification-message notification=notification}}
            {{/each}}
        </div>
        <div id="uicontainer" class="col-md-12"></div>
        <div class="clearfix"></div>
        <div class="row">
            <div id="filtercontainer" class="col-xs-7">
                {{outlet 'filter'}}
            </div>
        </div>
        {{outlet}}
        {{outlet 'modal'}}
    </div>
    <footer class="col-md-12 row">
        <span>&copy; Futurumshop 2015</span>
    </footer>
</div>
