<div style="padding-top: 60px">
    <div class="alert alert-danger">
        <i class="fa fa-exclamation-triangle fa-4x" style="color:red"></i>&nbsp;&nbsp;
        Something went wrong while loading some data.</div>
</div>
