<div class="dashboard">
    <h1>Dashboard</h1>
    <div class="well well-sm">
        <h4>At this moment</h4>
        <div class="row">
            <div class="col-xs-3">
                Total products: <span class="number">{{model.totalProducts}}</span>
            </div>
            <div class="col-xs-3">
                Total questions: <span class="number">{{model.totalQuestions}}</span>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-3">
                Products added today: <span class="number">{{model.productsCreated}}</span>
            </div>
            <div class="col-xs-3">
                Questions answered: <span class="number">{{model.questionsAnswered}}</span>
            </div>
        </div>
    </div>
</div>