<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 border">
                <div class="form-wrap">
                    <h1>Log in</h1>
                        {{login-form}}
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>