<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">BackOffice 2<span class="dbName">{{DBNAME}}</span></a>
        <div class="pull-left" style="display:inline-block;padding-top: 0.5em;width:15px;">
            <span id="loading" style="color:white;display:none;"><i class="fa fa-refresh"></i></span>
        </div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    {{header-auth login='transitionToLoginRoute' search='search'}}

    <div class="collapse navbar-collapse" id="nav-collapse">
        <ul class="nav navbar-nav">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{fa-icon 'list'}} orders <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>{{#link-to "orders.admin"}}<span>Admin</span>{{/link-to}}</li>
                    <li>{{#link-to "orders.orders"}}<span>Orders</span>{{/link-to}}</li>
                    <li>{{#link-to "orders.customers.index"}}<span>Customers</span>{{/link-to}}</li>
                    <li>{{#link-to "orders.retours.index"}}<span>Retours</span>{{/link-to}}</li>
                    <li>{{#link-to "orders.tradetrackers"}}<span>TradeTracker</span>{{/link-to}}</li>
                    <li>{{#link-to "orders.processpayments"}}<span>Process Payments</span>{{/link-to}}</li>
                    <li>{{#link-to "orders.itpakket"}}<span>ItPakket</span>{{/link-to}}</li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{fa-icon 'tag'}} products <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>{{#link-to "product.bundles"}}<span>Bundles</span>{{/link-to}}</li>
                    <li>{{#link-to "product.content.index"}}<span>Content</span>{{/link-to}}</li>
                    <li>{{#link-to "product.materials"}}<span>Materials</span>{{/link-to}}</li>
                    <li>{{#link-to "product.productquestions"}}<span>Product Questions</span>{{/link-to}}</li>
                    <li>{{#link-to "product.imageupload"}}<span>Image Upload</span>{{/link-to}}</li>
                    <li>{{#link-to "product.discount.index"}}<span>Discount</span>{{/link-to}}</li>
                    <li>{{#link-to "product.vendors"}}<span>Vendors</span>{{/link-to}}</li>
                    <li>{{#link-to "product.suppliers"}}<span>Suppliers</span>{{/link-to}}</li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{fa-icon 'shopping-cart'}} shopmanagement <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>{{#link-to "shop.synonyms"}}<span>Lucene Synonyms</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.fomenus"}}<span>Frontoffice Menu</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.automails.index"}}<span>Automails</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.articles.index"}}<span>SEO Articles</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.keywordsales"}}<span>Keyword Sale</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.banners"}}<span>Banners</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.landings"}}<span>Landing pages</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.actions"}}<span>Actions</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.holidays"}}<span>Holidays</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.faqs"}}<span>Faq</span>{{/link-to}}</li>
                    <li>{{#link-to "shop.shippingmethods"}}<span>Shippingmethods</span>{{/link-to}}</li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{fa-icon 'area-chart'}} statistics <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>{{#link-to "statistics.order"}}<span>Order</span>{{/link-to}}</li>
                    <li>{{#link-to "statistics.productsales"}}<span>Product Sales</span>{{/link-to}}</li>
                    <li>{{#link-to "statistics.bundles"}}<span>Bundles</span>{{/link-to}}</li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{fa-icon 'euro'}} procurement <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>{{#link-to "procurement.orders.index"}}<span>Orders</span>{{/link-to}}</li>
                    <li>{{#link-to "procurement.advice"}}<span>Advices</span>{{/link-to}}</li>
                    <li>{{#link-to "procurement.importstock"}}<span>Import Stock</span>{{/link-to}}</li>
                </ul>
            </li>
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{fa-icon 'coffee'}} club <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>{{#link-to "futurumclub.newproducts"}}<span>New Products</span>{{/link-to}}</li>
                </ul>
            </li>
        </ul>
    </div>
</div>