{{#fut-modal title=fieldName ok='save' close='removeModal' hideCloseButton=true}}
    <form {{action 'ok' on='submit' target=view}} style="display: inline-block;" class="images">
        {{#each model.Images as |image|}}
            <div class="imageContainer" data-id="{{image.id}}" data-prodlevid="{{image.prodlevid}}" data-filename="{{image.filename}}" draggable='true'>
                <button type="button" class="btn btn-xs btn-danger" {{action "deleteImage" model image}}>
                    <i class="fa fa-times" style="color: white;"></i>
                </button>
                <img src="{{image.url}}">
            </div>
        {{/each}}
    </form>
{{/fut-modal}}