<div class="panel panel-default">
    <div class="panel-heading">Settings</div>
    <div class="panel-body form">
        {{fut-textarea model=model field="emailSignature" value=model.emailSignature rows="4"}}
        {{fut-input model=model field="ELASTICSEARCHURL"  value=model.ELASTICSEARCHURL label="ElasticSearch URL:"}}
        {{fut-input model=model field="ELASTICSEARCHORDERINDEX"  value=model.ELASTICSEARCHORDERINDEX label="ElasticSearch Index:"}}
    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-success" {{action 'save' model}}><i class="fa fa-save"></i> Save</button>
        <button type="button" class="btn btn-danger" {{action 'reset' model}}><i class="fa fa-refresh"></i> Reset to defaults</button>
    </div>
</div>
