{{banner-upload editing=true imageDropped="addUploadImage" alwaysOutline=true}}

<div class="panel-heading imageDropArea editing" data-editing="true" {{dropable}}>
    Images <a {{action "refreshImages" model._id}} class="pull-right"><i class="fa fa-refresh"></i></a>
    <ul class="list-group">
        {{#each model.uploadImages as |image|}}
            <li class="list-group-item upload">
                <div data-editing="true" id="{{image.ImageFilename}}">
                    <button type="button" class="btn btn-xs btn-danger" {{action "deleteImage" image}}>
                        <i class="fa fa-times" style="color: white;"></i>
                    </button>
                    <img src="{{image.Image}}" style="min-height: 40px; max-height: 40px; max-width: 100%"
                         title="{{image.ImageFilename}}" id="image">

                    <div>
                        <small class="weak">{{image.ImageFilename}}</small>
                    </div>
                </div>
            </li>
        {{/each}}
        {{#each model.images as |image|}}
            <li class="list-group-item">
                <div data-editing="true" id="{{fo2-url image.url}}"
                     class="{{image.remove}} {{if image.remove 'removed' 'notremoved'}}">
                    <button type="button" class="btn btn-xs btn-danger" {{action "deleteImage" image}}>
                        <i class="fa fa-times" style="color: white;"></i>
                    </button>
                    <img src="{{fo2-url image.url host=imageHost}}"
                         style="min-height: 40px; max-height: 40px; max-width: 100%"
                         title="{{fo2-url image.url host=imageHost}}" id="image">

                    <div>
                        <small class="weak">{{fo2-url image.url host=imageHost}}</small>
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>