<span class="remove-criteria">
    <a href="#" class="removeAll">
        <i class="glyphicon glyphicon-remove"></i>
        <span id="field">{{name}}</span>:
    </a>
    <a href="#" id="value"></a><a href="#" id="sort" style="text-transform: uppercase">{{sort}}</a>
</span>